/* Mixins */
// Sets font-color for buttons based on contrast
@function text-color($color) {
	@if (lightness($color) > 60) {
		@return $gray-darker;
	} @else {
		@return $white;
	}
}
// Standard colorizer for buttons
@mixin button-color($color) {
	&,
	&:link,
	&:visited {
		background-color: $color;
		color: text-color($color);
	}
	&.active,
	&:active {
		background-color: darken($color, 10%);
	}
	&:hover {
		background-color: darken($color, 10%);
	}
	&.focus,
	&:focus {
		background-color: darken($color, 10%);
	}
	&--disabled,
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:active,
		&.active,
		&:hover,
		&:focus,
		&.focus {
			color: text-color($color) !important;
			background-color: lighten($color, 50%) !important;
		}
	}
}
// Standard colorizer for links
@mixin link-color($color) {
	color: $color;
	&.active,
	&:active {
		color: darken($color, 15%);
	}
	&:hover {
		color: darken($color, 15%);
	}
	&.focus,
	&:focus {
		color: darken($color, 15%);
	}
}

/* Buttons */
// Standard button apperance
.button,
.rc_button {
	// font-family: 'ralewaysemibold', arial, sans-serif;
	text-align: center;
	text-decoration: none;
	// border-width: 0;
	// color: #FFF;
	// border-style: solid;
	// height: 40px;
	// line-height: 40px;
	box-sizing: border-box;
	outline: 0;
	// min-width: 100px;
	// padding: 0 10px;
	// display: inline-block;
	cursor: pointer;
	touch-action: manipulation;
    white-space: nowrap;
    vertical-align: middle;

    &,
    &:link,
    &:visited {
		// background-color: $default;
		// color: #FFF;
    }
}

// Button sizes
.button,
.rc_button {
	&--base,
	&--medium {
		// font-size: $font-size-base;
	}

	&--large {
		padding: 10px 15px;
		height: auto;
	}
}

// Button styles: Link
.button.button--link,
.rc_button.rc_button--link {
	appearance: none;
	// background: transparent !important;
	// font-family: 'ralewayregular', arial, sans-serif;
	padding-left: 0;
	padding-right: 0;
	min-width: auto;
}

.button.button--underline,
.rc_button.rc_button--underline {
	text-decoration: underline;
}

// Button styles: Inline
.button.button--inline,
.rc_button.rc_button--inline {
	display: inline;
	width: auto;
	min-width: auto;
}

// Button styles: Block
.button.button--block,
.rc_button.rc_button--block {
	display: block;
	width: 100%;
}

// Button spacing fixes
.button + .button--link,
.rc_button + .rc_button--link {
	margin-left: 10px;
}
.button--link + .button--link,
.rc_button--link + .rc_button--link {
	margin-left: 0;
}
.button + .button,
.rc_button + .rc_button {
	margin-left: 10px;
}
.button--block + .button--block,
.rc_button--block + .rc_button--block {
	margin-top: 10px;
	margin-left: 0;
}

// Button: Disabled
.button,
.rc_button {
	&.button--disabled,
	&.disabled,
	&.rc_button--disabled,
	&.rc_disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed !important;

		&,
		&:active,
		&.active,
		&:hover,
		&:focus,
		&.focus {
			background-color: $disabled !important;
		}
	}
}

// Button link: Disabled
.button--link {
	&.button--disabled,
	&.disabled,
	&.rc_button--disabled,
	&.rc_disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed !important;

		&,
		&:active,
		&.active,
		&:hover,
		&:focus,
		&.focus {
			color: $disabled !important;
			background-color: transparent !important;
		}
	}
}