/* Mixins */
// Sets font-color for buttons based on contrast
@function text-color($color) {
	@if (lightness($color) > 60) {
		@return $gray-darker;
	} @else {
		@return $white;
	}
}
// Standard colorizer for buttons
@mixin button-color($color) {
	&,
	&:link,
	&:visited {
		background-color: $color;
		color: text-color($color);
	}
	&.active,
	&:active {
		background-color: darken($color, 10%);
	}
	&:hover {
		background-color: darken($color, 10%);
	}
	&.focus,
	&:focus {
		background-color: darken($color, 10%);
	}
	&--disabled,
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:active,
		&.active,
		&:hover,
		&:focus,
		&.focus {
			color: text-color($color) !important;
			background-color: lighten($color, 50%) !important;
		}
	}
}
// Standard colorizer for links
@mixin link-color($color) {
	color: $color;
	&.active,
	&:active {
		color: darken($color, 15%);
	}
	&:hover {
		color: darken($color, 15%);
	}
	&.focus,
	&:focus {
		color: darken($color, 15%);
	}
}

/* Buttons */
// Standard button apperance
.button,
.rc_button {
	font-family: 'ralewaysemibold', arial, sans-serif;
	text-align: center;
	text-decoration: none;
	border-width: 0;
	color: #FFF;
	border-style: solid;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	outline: 0;
	min-width: 100px;
	padding: 0 10px;
	display: inline-block;
	cursor: pointer;
	touch-action: manipulation;
    white-space: nowrap;
    vertical-align: middle;

    &,
    &:link,
    &:visited {
		// background-color: $default;
		// color: #FFF;
    }
}

// Button colors
.button,
.rc_button {
	@include button-color($default);
	// Patterns
	&--primary {
		@include button-color($primary);
	}
	&--danger {
		@include button-color($danger);
	}
	&--disabled {
		@include button-color($disabled);
	}
	// Contrast
	&--black {
		@include button-color($black);
	}
	&--white {
		@include button-color($white);
	}
	// Shades
	&--gray-lighter {
		@include button-color($gray-lighter);
	}
	&--gray-light {
		@include button-color($gray-light);
	}
	&--gray {
		@include button-color($gray);
	}
	&--gray-dark {
		@include button-color($gray-dark);
	}
	&--gray-darker {
		@include button-color($gray-darker);
	}
	// Colors
	&--cyan {
		@include button-color($cyan);
	}
	&--blue {
		@include button-color($blue);
	}
	&--green {
		@include button-color($green);
	}
	&--aquamarine {
		@include button-color($aquamarine);
	}
	&--mint {
		@include button-color($mint);
	}
	&--yellow {
		@include button-color($yellow);
	}
	&--orange {
		@include button-color($orange);
	}
	&--red {
		@include button-color($red);
	}
	&--magenta {
		@include button-color($magenta);
	}
	&--pink {
		@include button-color($pink);
	}
	&--red {
		@include button-color($red);
	}
}
// Button link colors
.button--link,
.rc_button--link {
	&.button,
	&.rc_button {
		appearance: none;
		background: transparent !important;
		padding-left: 0;
		padding-right: 0;

		@include link-color($default);

		// Patterns
		&--primary {
			@include link-color($primary);
		}
		&--danger {
			@include link-color($danger);
		}
		&--disabled {
			@include link-color($disabled);
		}
		// Contrast
		&--black {
			@include link-color($black);
		}
		&--white {
			@include link-color($white);
		}
		// Shades
		&--gray-lighter {
			@include link-color($gray-lighter);
		}
		&--gray-light {
			@include link-color($gray-light);
		}
		&--gray {
			@include link-color($gray);
		}
		&--gray-dark {
			@include link-color($gray-dark);
		}
		&--gray-darker {
			@include link-color($gray-darker);
		}
		// Colors
		&--cyan {
			@include link-color($cyan);
		}
		&--blue {
			@include link-color($blue);
		}
		&--green {
			@include link-color($green);
		}
		&--aquamarine {
			@include link-color($aquamarine);
		}
		&--mint {
			@include link-color($mint);
		}
		&--yellow {
			@include link-color($yellow);
		}
		&--orange {
			@include link-color($orange);
		}
		&--red {
			@include link-color($red);
		}
		&--magenta {
			@include link-color($magenta);
		}
		&--pink {
			@include link-color($pink);
		}
		&--red {
			@include link-color($red);
		}
	}
}