.form__checkbox {
	display: none;

	+ .form__label {
		cursor: pointer;
		display: block;
		line-height: 1;
		margin-bottom: 0;

		+ .form__checkbox + .form__label {
			margin-top: 20px;
		}

		&:after {
			display: table;
			content: "";
			// margin: 10px 0;
		}

		&:before {
			width: 16px;
			height: 16px;
			content: "";
			display: inline-block;
			box-sizing: border-box;
			background-color: #FFF;

			margin-right: 9px;

			line-height: 16px;
			text-indent: 1px;
			font-size: 11px;

			color: #FFF;
			font-family: fontawesome;

			border-width: 1px;
			border-style: solid;
			border-color: #676767;

			vertical-align: middle;
			position: relative;
			top: -2px;
		}
	}
}

.form__checkbox {
	&.error {
		+ .form__label {
			color: #EC3D10;
			&:before {
				border-color: #EC3D10;
			}
		}
		&:checked,
		&.checked {
			+ .form__label {
				&:before {
					background-color: #EC3D10;
				}
			}
		}
	}
}

.form__group {
	.form__checkbox:first-of-type {
		+ .form__label {
			// margin-top: 6px; // Make adjustments to spacing above radio and checkbox buttons in form groups, so it matches better with other elements in form groups
		}
	}
}

.form__checkbox {
	&:checked,
	&.checked {

		+ .form__label {
			&:before {
				content: "\f00c";
				background-color: #767676;
			}
		}
	}
}

.form__checkbox {
	&:disabled,
	&.disabled {

		+ .form__label {
			&:before {
				content: "\f068";
				color: #767676;
				text-indent: 3px;
			}
		}
	}
}
