/* Helpers */
$product-spacing: 20px;
$product-padding: 20px;

.rc_product-item__list {
    margin-left: -$product-spacing;
    margin-right: -$product-spacing;

    .rc_form__search + & {
		margin-top: 34px;
    }

	&--seamlesss {
		padding-left: 0;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	+ hr {
		// border: none;
		// border-top: 2px solid #EEEEEE;
		// margin: $product-padding 0 40px;
	}
}


.rc_product-item {
	box-sizing: border-box;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: $product-spacing;
	padding-left: $product-spacing;
	padding-right: $product-spacing;

	&:only-child {
		.rc_product-item__info {
			font-size: 16px;
		}
	}
}

a.rc_product-item {
	text-decoration: none;
	// color: $gray-darker;
	// &:hover {
	// 	color: darken($gray-darker, 10%);
	// }
}

.rc_product-item__media {
}

.rc_product-item__image {
	width: 100%;
	height: auto;
}

.rc_product-item__info {
	// font-size: 14px;
}

.rc_product-item__title {
}

.rc_product-item__description {
	span + span:before {
		content: "/";
		display: inline-block;
	}
}

.rc_product-item__price {
	// font-family: 'ralewaysemibold';
}

.rc_product-item__list {
	@media screen and (min-width: $screen-sm-min) and (max-width: $mobile-nav-max) {
		.rc_product-item {
			width: 50%;

			&:nth-child(2n + 1) {
				clear: both;
			}
		}
	}

	@media screen and (min-width: $mobile-nav-max + 1) and (max-width: $screen-md-max) {
		.rc_product-item {
			width: 33.33%;

			&:nth-child(3n + 1) {
				clear: both;
			}
		}
	}
	@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		.rc_product-item {
			width: 25%;

			&:nth-child(4n + 1) {
				clear: both;
			}
		}
	}

	@media screen and (min-width: $screen-xl-min) {
		.rc_product-item {
			width: 20%;

			&:nth-child(5n + 1) {
				clear: both;
			}
		}
	}

	.rc_layout__content & {
		@media screen and (min-width: $screen-xl-min) {
			.rc_product-item {
				width: 25%;

				&:nth-child(4n + 1) {
					clear: both;
				}
				&:nth-child(5n + 1) {
					clear: none;
				}
			}
		}
	}
}

.rc_product-item__list--inline {
	.rc_product-item {
		width: 100%;
	}

	.rc_product-item__details {
		// font-size: 16px;
	}

	.rc_product-item__title {
		// font-family: 'ralewaysemibold';
		// line-height: 1.13;
	}

	.rc_product-item__price {
		// font-family: 'ralewayregular';
	}

	@media screen and (min-width: $screen-sm-min) {
		.rc_product-item__inner:after {
			content: '';
			display: table;
			clear: both;
		}

		.rc_product-item__media,
		.rc_product-item__details {
			float: left;
		}

		.rc_product-item__media {
			width: 39%;
			padding-right: 35px;
		}

		.rc_product-item__details {
			width: 61%;
		}
	}
	@media screen and (min-width: $mobile-nav-max + 1) {
		.rc_product-item {
			width: 50%;
		}
	}

	@media screen and (min-width: $screen-lg-min) {
		.rc_product-item {
			width: 33.33%;
		}
	}

	.rc_layout__content & {
		@media screen and (min-width: $mobile-nav-max + 1) {
			.rc_product-item {
				width: 100%;
			}
		}

		@media screen and (min-width: $screen-lg-min) {
			.rc_product-item {
				width: 50%;
			}
		}
	}
}

.rc_product-item__list--cards {
    margin-right: 0;

	.rc_product-item__inner {
		// background-color: #F5F5F5;
		padding: $product-padding;
	}

	.rc_product-item {
		padding-right: 0;
		margin-bottom: $product-padding;
	}
}


.rc_product-item {
	display: block;
	float: left;
	width: 100%;
}

a.rc_product-item {
	// color: $gray-darker;

	// &:hover {
	// 	color: darken($gray-darker, 10%);
	// }
}

.rc_product-detail {

}
.rc_product-detail__media {

}

.rc_product-detail__image {
	width: 100%;
	height: auto;
}

.rc_product-detail__info {
	// margin-bottom: 32px;
}

.rc_product-detail__title {
	// font-family: 'ralewayregular';
	// font-size: 24px;
	// line-height: 28px;

	// small {
	// 	font-family: 'ralewaysemibold';
	// 	font-size: 14px;
	// 	line-height: 16px;
	// }
}

.rc_product-detail__price {
	// font-family: 'ralewayregular';
	// font-size: 16px;
	// line-height: 19px;
}

.rc_product-detail__option {
}