$mobile-nav-width: 765px;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
	.rc_lock__window {
		display: none;
		transition: .2s linear opacity;
		left: 0;
		top: 0;
		position: fixed;
		background-color: rgba(0, 0, 0, .7);
	}
}

body.rc_lock--transition,
body.rc_lock--on {
	.rc_lock__window {
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 9999;
	}
}

body.rc_lock--transition {
	.rc_lock__window {
		opacity: 0;
	}
}

body.rc_lock--on {
	.rc_lock__window {
		opacity: 1;
	}
}

.rc_lock__window__message {
	color: #FFF;
	text-align: center;
	width: 50%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  
	@media screen and (max-width: $mobile-nav-width) {
		width: 100%;
		left: 0;
		transform: translate(0%,-50%);
  }
}

.rc_lock__window__message__title {
	font-family: 'raleway-semibold';
	font-size: 24px;
}

.rc_lock__window__message__warning {
	font-family: 'raleway-medium';
	font-size: 16px;
}

.rc_lock__window__message__logo {
	display: block;
	width: 118px;
	height: 118px;
	margin: 20px auto;
  position: relative;
  background-size: 100% 100%;
	background-image: url('logo.png');
}

.rc_animation--rotate {
		-webkit-animation: rotate 1200ms infinite linear;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.rc_lock__window__message__logo {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYXJyb3ciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4OCAyODgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48dGl0bGU+YXJyb3c8L3RpdGxlPjxwYXRoIGlkPSJhcnJvd19wYXRoIiBjbGFzcz0iY2xzLTEiIGQ9Ik0yMjEuNjE1LDIyMS45NDRBMTEwLDExMCwwLDAsMSw2Ni4yMTgsNjYuMjE4LDExMC4xNzQsMTEwLjE3NCwwLDAsMSwxOTIuOTgzLDQ1LjQ1MkwxODAuNTg3LDYyLjVIMjI4LjVMMjEzLjY3NCwxNywyMDAuNywzNC44MzlhMTIzLjAwNiwxMjMuMDA2LDAsMSwwLDMwLjEwNywxOTYuM1oiLz48L3N2Zz4=);
}