$zindex-tooltip: 1000;
$tooltip-min-width: 100px;
$tooltip-max-width: 350px;
$tooltip-inner-padding: 20px;
$tooltip-bg: #474747;
$tooltip-arrow-width: 12px;

.rc_tooltip__button {
	width: 14px;
	height: 16px;
	color: #424242;
	position: relative;
	cursor: pointer;
	display: inline-block;
	font-family: 'fontawesome', arial, san-serif;
	vertical-align: baseline;
	line-height: $font-size-base;
	font-size: $font-size-base;
	padding: 4px 8px 5px;
	box-sizing: content-box;
	
	border: none;
	outline: 0;
	background: transparent;
	-webkit-appearance: none;

	&:empty:after {
		content: "\f05a";
	}
	&:hover,
	&:focus,
	&--active {
		color: #4DD6B7;
	}
	z-index: $zindex-tooltip - 1;
}

.rc_tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: $zindex-tooltip;
	max-width: $tooltip-max-width;
	// width: auto;
	min-width: $tooltip-min-width;
	padding: ($tooltip-arrow-width * 3) 0 0;

	font-size: 16px;
	text-align: left;
	font-family: 'ralewaymedium';
	line-height: 25px;
	word-wrap: break-word;
	background-clip: padding-box;
	color: #FFF;

	// Gives the apperance that the user is hovering over the info bubble
	&:before {
		content: "";
		position: absolute;
		width: 25px;
		height: 24px;
		cursor: pointer;
	}

	// tooltip directions
	&.rc_tooltip--top,
	&.rc_tether--element-attached-bottom.rc_tether--target-attached-center {
		margin-top: -$tooltip-arrow-width;
		&:before {
			bottom: 0;
			left: 50%;
			margin-left: -$tooltip-max-width;
		}
		&:after {
			left: 50%;
			border-bottom-width: 0;
			bottom: -$tooltip-arrow-width;
			margin-left: -$tooltip-arrow-width;
			border-top-color: $tooltip-bg;
		}
	}
	&.rc_tooltip--right,
	&.rc_tether--element-attached-top.rc_tether--target-attached-right {
		margin-top: -($tooltip-arrow-width * 2);
		margin-left: -27px;
		&:before {
			top: 0;
			left: 0;
		}
		&:after {
			left: 0%;
			right: auto;
			border-top-width: 0;
			// top: -$tooltip-arrow-width;
			top: ($tooltip-arrow-width * 2);
			border-bottom-color: $tooltip-bg;
		}
	}
	&.rc_tooltip--bottom,
	&.rc_tether--element-attached-top.rc_tether--target-attached-center {
		margin-top: -($tooltip-arrow-width * 2);
		&:before {
			top: 0;
			left: 50%;
			margin-left: -$tooltip-arrow-width;
		}
		&:after {
			left: 50%;
			right: auto;
			border-top-width: 0;
			// top: -$tooltip-arrow-width;
			top: ($tooltip-arrow-width * 2);
			margin-left: -$tooltip-arrow-width;
			border-bottom-color: $tooltip-bg;
		}
	}
	&.rc_tooltip--left,
	&.rc_tether--element-attached-top.rc_tether--target-attached-left {
		margin-top: -($tooltip-arrow-width * 2);
		margin-left: 27px;
		&:before {
			top: 0;
			right: 0;
		}
		&:after {
			left: auto;
			right: 0%;
			border-top-width: 0;
			// top: -$tooltip-arrow-width;
			top: ($tooltip-arrow-width * 2);
			margin-left: -$tooltip-arrow-width;
			border-bottom-color: $tooltip-bg;
		}
	}
}

// Offset the tooltip to account for the tooltip arrow
.rc_tooltip__title {
	background-color: $tooltip-bg;
	font-family: 'ralewaysemibold';
	padding: ($tooltip-inner-padding - 5) $tooltip-inner-padding 0;
	line-height: 1;
	margin: 0;
	font-size: $font-size-base;
	&:empty {
		display: none;
	}
}

.rc_tooltip__content {
	background-color: $tooltip-bg;
	padding: ($tooltip-inner-padding - 5) $tooltip-inner-padding $tooltip-inner-padding;
	a {
		color: $primary;
		cursor: pointer; // Force pointer, sometimes it's ignored
	}
	p + p {
		margin-top: 10px;
	}
}

// Arrows
.rc_tooltip:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	border-width: $tooltip-arrow-width;
}