.rc_notification {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #676767;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	font-family: 'ralewaysemibold', arial, sans-serif;
	max-height: 0;
	
	> ul,
	> p {
		margin: 25px;
	}
	&--error,
	&--warning {
		> ul,
		> p {
			// Fix issue where a close button and the content overlays on eachother
			margin: 25px 50px;
		}
	}

	-webkit-transition: max-height 0.6s;
	-moz-transition: max-height 0.6s;
	-o-transition: max-height 0.6s;
	transition: max-height 0.6s;
	overflow: hidden;

	&.rc_show {
		max-height: 200px;
		@media screen and (max-width: $mobile-nav-max) {
			max-height: 325px;
		}
	}

	&__close {
		-webkit-appearance: none;
		outline: 0;
		position: absolute;
		top: 11px;
		right: 13px;
		display: block;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 0;
		line-height: 1;
		cursor: pointer;
		&:before {
			content: "\f00d";
			font-family: fontawesome;
			font-size: 24px;
			color: #FFF;
		}
	}
}
.rc_notification {
	&--info {
		background-color: #2C93AC;
	}
	&--error {
		background-color: #EC3D10;
	}
	&--warning {
		background-color: #FB8309;
	}
	&--success {
		background-color: #2BAC8F;
	}
}

.rc_flash {
	&.rc_notification {
		position: relative;
		text-align: left;
		font-family: 'ralewayregular', arial, sans-serif;
    	font-size: 16px;
		> p,
		> ul {
			margin: 54px 50px 25px 54px;
		}
		> p + p {
			margin-top: -14px;
		}
		a {
			color: #FFF;
		}
	}
	&:before,
	&:after {
		display: block;
		position: absolute;
		font-size: 20px;
		line-height: 1;
	}
	&:before {
		font-family: 'fontawesome';
		top: 20px;
		left: 20px;
	}
	&:after {
		font-family: 'ralewaysemibold', arial, sans-serif;
		top: 19px;
		left: 54px;
	}
	&.rc_notification--info {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Info";
		}
	}
	&.rc_notification--warning {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Warning";
		}
	}
	&.rc_notification--success {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Success";
		}
	}
	&.rc_notification--error {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Error";
		}
	}
}

.rc_notification__container {
	width: 100%;

	&--fixed {
		position: fixed;
		z-index: $z-index-notifications;
	}
}


.rc_notifications {

	&--review {
		background-color: #3992ae;
		text-align: center;
		padding-bottom: 11.3333333333px;
		@media screen and (min-width: $screen-sm-min) {
			p {
    			vertical-align: middle;
				height: 40px;
    			line-height: 40px;
				display: inline-block;
				+ * {
					margin-left: 22px;
				}
			}
		}
		&.reviewed .rc__notifications__close {
			display: none;
		}
		.button {
			&,
			&:hover,
			&:active,
			&:focus {
				color: $blue;
			}
			@media screen and (max-width: $screen-xs-max) {
				margin-top: 10px;
				display: block;
			}
		}
	}
}
.rating {
	@extend .list;
	@extend .list--inline;

	display: inline-block;
	position: relative;
	top: 2px;

	.rating__star {
		cursor: pointer;
		padding: 0 3px 0 1px;
		position: relative;

		&:before {
			content: "\f006";
			display: inline-block;
			font-size: 16px;
			font-family: 'fontawesome';
		}
		&:hover,
		&.active {
			&:before {
				content: "\f005";
			}
		}
	}
}

.error-list {
	@extend .list;
}

#rating__unrated {
	position: absolute;
	width: 100%;
	left: -40px;
	z-index: 30;
	top: 50%;
	transform: translateY(-45%);
}

#rating__rated {
	opacity: 0;
}