.form__help {
	color: #676767;
	line-height: 25px;
	font-size: 14px;
}


.form__label {
	+ .form__help {
		margin-top: -11px;
		margin-bottom: 10px;
	}
}

.form__input {
	+ .form__help {
		margin-top: 7px;
	}
}

.form__help {
	+ .form__label {
		margin-top: 34px - 8;
	}
}

.form__group,
.form__addons {
	+ .form__help {
		margin-top: 7px;
		+ .form__addons,
		+ .form__group,
		+ .form__placeholder {
			margin-top: 34px - 8;
		}
	}
}

.form__addons {
	.form__group,
	.form__placeholder {
		+ .form__help {
			padding-left: 8px;
		}
	}
}

.form__addons {
	.form__help {
		margin-top: 0;
		white-space: nowrap;
	}
	> .form__help {
		padding-top: 7px;
	}
}


.form__input__contextual {
	.form__group,
	.form__addons,
	.form__placeholder {
		+ .form__help {
			&:last-child {
				margin-bottom: -8px;
			}
		}
	}
}

.form__radio,
.form__checkbox {
	+ .form__label {
		+ .form__help {
			margin-top: 3px;
			padding-left: 25px;
		}
	}
}

.form__radio,
.form__checkbox {
	&:checked {
		+ .form__label {
			+ .form__help {
				+ .form__input__contextual {
					display: block;
					margin-left: 25px;
				}
			}
		}
	}
	+ .form__label {
		+ .form__input__contextual {
			+ .form__help {
				margin-top: 7px;
				margin-left: 25px;
			}
			+ .form__radio {
				margin-top: 25px;
			}
		}
	}
}

.form__select {
	+ .form__help {
		margin-top: 7px;
	}
}
.form__help {
	+ .form__select {
		margin-top: 7px;
	}
}

fieldset {
	> .form__group > .form__help,
	> .form__help {
		&:last-child {
			margin-bottom: -8px;
		}
	}
}

.dates__container {
	+ .form__help {
		margin-top: 7px;
	}
}