.form__addons {
    display: flex;
    flex-wrap: nowrap;
    width: auto;

    > .form__label,
    > .form__group,
    > .form__actions,
    > .form__placeholder {
        width: auto;
    }

    .form__label {
        white-space: nowrap;
    }

    .form__group {
        > .form__checkbox + .form__label {
            line-height: 40px;
        }
    }

    .form__label,
    .form__group,
    .form__placeholder {
        + .form__label,
        + .form__group,
        + .form__actions,
        + .form__placeholder {
            margin-top: 0;
        }
    }

    .form__label,
    .form__group,
    .form__actions,
    .form__placeholder {
        padding-right: 7px;
        padding-left: 8px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .form__group {
        .form__number,
        .form__input {
            min-width: auto;
            margin-right: 0;
            width: 100%;
        }
    }
}

// Allows true inline input fields, if form groups are preceeded by a .form__label element
.form__addons {
    > .form__label {
        line-height: 40px;
        margin-bottom: 0;
        padding-right: 15px;
        white-space: nowrap;
    }
}

// Removes margin between input groups, adjusts borders to prevent thick veritcal borders
.form__addons {
    &--seamless {
        // Remove padding
        .form__group {
            padding-right: 0;
            + .form__group,
            + .form__actions {
                padding-left: 0;
            }
        }
        // Prevent double-border edges
        .form__group {
            .form__input {
                border-right-width: 0;
                &:focus,
                &:active,
                &.rc_active {
                    border-right-width: 1px;
                    margin-right: -1px;
                }
            }
        }
    }
}

// Enables full-width addon groups
.form__addons--full {
    width: 100%;
    > .form__group {
        // width: 100%;
        flex-grow: 1;
    }
}

// Form search has all the bells and whistles and an additional "active" class for live search UI changes
.form__search {
    @extend .form__addons--full;
    @extend .form__addons--seamless;
    .form__input {
        border-right-width: 1px !important;
    }
    .form__group + .form__actions {
        padding-top: 0;
    }
    .form__actions {
        .button {
            min-width: 40px;
            @media screen and (min-width: $mobile-nav-max + 1) {
                max-width: 40px;
                width: 40px;
            }
            > span {
                font-size: 0;
                &:before {
                    font-size: 18px;
                    content: "Search";
                    @media screen and (min-width: $mobile-nav-max + 1) {
                        content: "\f002";
                        font-family: 'fontawesome';
                    }
                }
            }
        }
    }
    &--active {
        .form__input {
            border-color: $primary;
        }
        .form__actions {
            .button {
                background-color: $primary;
                > span {
                    &:before {
                        @media screen and (max-width: $mobile-nav-max) {
                            content: "Clear";
                        }
                        @media screen and (min-width: $mobile-nav-max + 1) {
                            content: "\f00d";
                        }
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }
    &__no-results {
        font-size: 20px;
        line-height: 24px;
        color: $blue;
        text-align: center;
    }
}

.card-details__icon {
    width: 20%;
    margin-left: 10%;
    max-width: 57px;
    vertical-align: middle;
    @media screen and (min-width: $mobile-nav-max + 1) {
        margin-top: 24px;
        width: 16.42%;
        margin-left: 20px;
    }
}
