.form__addons,
.rc_form__addons {
    display: flex;
    flex-wrap: nowrap;
    width: auto;

    > .form__label,
    > .form__group,
    > .form__actions,
    > .form__placeholder,
    > .rc_form__label,
    > .rc_form__group,
    > .rc_form__actions,
    > .rc_form__placeholder {
        width: auto;
        flex-shrink: 1;
    }

    .form__label,
    .rc_form__label {
        white-space: nowrap;
    }

    .form__group,
    .rc_form__group {
        > .form__checkbox + .form__label,
        > .rc_form__checkbox + .rc_form__label {
            line-height: 40px;
        }
    }

    .form__label,
    .form__group,
    .form__placeholder,
    .rc_form__label,
    .rc_form__group,
    .rc_form__placeholder {
        + .form__label,
        + .form__group,
        + .form__actions,
        + .form__placeholder,
        + .rc_form__label,
        + .rc_form__group,
        + .rc_form__actions,
        + .rc_form__placeholder {
            margin-top: 0;
        }
    }

    .form__label,
    .form__group,
    .form__actions,
    .form__placeholder,
    .rc_form__label,
    .rc_form__group,
    .rc_form__actions,
    .rc_form__placeholder {
        padding-left: 8px;
        padding-right: 7px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
    > .rc_input,
    > .rc_select {
        margin-left: 8px;
        margin-right: 7px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    > .rc_tooltip__button,
    > .rc_tooltip__button {
        margin-top: 7px;
    }

    .form__addons + .form__addons,
    .rc_form__addons + .rc_form__addons {
        margin-left: 15px;
    }

    .form__group,
    .rc_form__group {
        .form__number,
        .form__input,
        .rc_form__number,
        .rc_form__input {
            min-width: 55px;
            margin-right: 0;
            width: 100%;
        }
    }
}

.form__addons,
.rc_form__addons {
    &--wrap {
        flex-wrap: wrap;

        > .form__label,
        > .form__group,
        > .form__actions,
        > .form__placeholder,
        > .rc_form__label,
        > .rc_form__group,
        > .rc_form__actions,
        > .rc_form__placeholder {
            flex-shrink: 0;
        }
    }
}

// Allows true inline input fields, if form groups are preceeded by a .form__label element
.form__addons,
.rc_form__addons {
    > .form__label,
    > .rc_form__label {
        line-height: 40px;
        margin-bottom: 0;
        padding-right: 15px;
        white-space: nowrap;
    }
}

// Removes margin between input groups, adjusts borders to prevent thick veritcal borders
.form__addons,
.rc_form__addons {
    &--seamless {
        // Remove padding
        .form__group,
        .rc_form__group {
            padding-right: 0;

            + .form__group,
            + .form__actions,
            + .rc_form__group,
            + .rc_form__actions {
                padding-left: 0;
            }
        }
        // Prevent double-border edges
        .form__input,
        .rc_form__input {
            border-right-width: 0;

            &:focus,
            &:active,
            &.rc_active {
                border-right-width: 1px;
                margin-right: -1px;
            }
        }
    }
}

// Enables full-width addon groups
.form__addons--full,
.rc_form__addons--full {
    width: 100%;

    > .form__group,
    > .rc_form__group {
        // width: 100%;
        flex-grow: 1;
    }
}

// Form search has all the bells and whistles and an additional "active" class for live search UI changes
.form__search,
.rc_form__search {
    @extend .rc_form__addons--full;
    @extend .rc_form__addons--seamless;
    .form__input
    .rc_form__input {
        border-right-width: 1px !important;
    }
    .form__group + .form__actions,
    .rc_form__group + .rc_form__actions {
        padding-top: 0;
    }
    .form__actions,
    .rc_form__actions {
        .button,
        .rc_button {
            min-width: 40px;
            @media screen and (min-width: $mobile-nav-max + 1) {
                max-width: 40px;
                width: 40px;
            }
            > span {
                font-size: 0;
                &:before {
                    font-size: 18px;
                    content: "Search";
                    @media screen and (min-width: $mobile-nav-max + 1) {
                        content: "\f002";
                        font-family: 'fontawesome';
                    }
                }
            }
        }
    }
    &--active {
        .form__input,
        .rc_form__input {
            border-color: $primary;
        }
        .form__actions,
        .rc_form__actions {
            .button,
            .rc_button {
                background-color: $primary;
                > span {
                    &:before {
                        @media screen and (max-width: $mobile-nav-max) {
                            content: "Clear";
                        }
                        @media screen and (min-width: $mobile-nav-max + 1) {
                            content: "\f00d";
                        }
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }
    &__no-results {
        font-size: 20px;
        line-height: 24px;
        color: $blue;
        text-align: center;
    }
}

/* Pattern for credit/debit cards */
.form__cards,
.rc_form__cards {
    width: auto;

    .form__group,
    .form__addons,
    .form__number,
    .form__input,
    .rc_form__group,
    .rc_form__addons,
    .rc_form__number,
    .rc_form__input {
        max-width: 100%;
        width: 100%;
    }
    .form__addon,
    > .form__group,
    .rc_form__addon,
    > .rc_form__group {
        margin-top: 34px;
    }

    @media screen and (max-width: $mobile-nav-max + 250) {
        .form__addons + .form__addons,
        .rc_form__addons + .rc_form__addons {
            margin-left: 0;
        }
    }
    .form__cards__details,
    .rc_form__cards__details {
        margin-top: 34px;

        @media screen and (min-width: $mobile-nav-max + 250 + 1) {
            display: flex;
            flex-wrap: nowrap;

            > .form__addons,
            > .rc_form__addons {
                margin-top: 0;
            }
        }
    }
    .form__cards__zipcode,
    .rc_form__cards__zipcode {
        .form__input,
        .rc_form__input {
            min-width: 125px;
        }

        @media screen and (max-width: $mobile-nav-max) {
            display: block;

            .form__group,
            .rc_form__group {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    .form__cards__images,
    .rc_form__cards__images {
        align-items: stretch;
        max-width: 100%;
        width: auto;
        min-width: 280px;
        text-align: right;

        img {
            padding-top: 30px;
            line-height: 1;
            display: inline-block;
            text-align: right;
            width: 100%;
            max-width: 55px;

            + img {
                margin-left: 10px;
            }
        }
        @media screen and (max-width: $mobile-nav-max) {
            text-align: center;

            img {
                width: 35px;

                + img {
                    margin-left: 15px;
                }
            }
        }
    }
}