form {

}

legend {
    width: 100%;

    h1, .rc_h1,
    h2, .rc_h2,
    h3, .rc_h3,
    h4, .rc_h4,
    h5, .rc_h5,
    h6, .rc_h6 {
        line-height: 1;
    }
	+ fieldset {

	}
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    + fieldset {
    	// margin-top: 60px;
    }
}

// Form groups
.form__group,
.rc_form__group {
    + .form__group,
    + .rc_form__group {
        // margin-top: 34px;
    }
}
legend + .form__group,
legend + .rc_form__group {
    // margin-top: 30px;
}

// Form actions
.form__actions,
.rc_form__actions {
    // margin-top: 30px;
    display: flex;
    width: 100%;

    .button,
    .rc_button {
        width: 100%;
    }
}

fieldset + fieldset.form__actions,
fieldset + fieldset.rc_form__actions {
    // margin-top: 60px;
    // margin-bottom: 30px;
}

// For Placeholder
.form__placeholder,
.rc_form__placeholder {
    padding-top: 6px;
}

.form__group,
.rc_form__group {
    > .form__input,
    > .rc_form__input,
    > .form__color,
    > .rc_form__color,
    > .form__date,
    > .rc_form__date {
        + .button,
        + .rc_button {
            margin-top: 12px;
        }
    }
}