form {

}

legend {
    width: 100%;

    h1, .rc_h1,
    h2, .rc_h2,
    h3, .rc_h3,
    h4, .rc_h4,
    h5, .rc_h5,
    h6, .rc_h6 {
        margin-bottom: 0;
        + p {
            margin-top: 5px;
        }
    }
	+ fieldset {

	}
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    + fieldset {
    	margin-top: 60px;
    }
}

hr + fieldset,
fieldset + hr {
    margin-top: 25px;
}

// Form groups
.form__group,
.form__addons {
    + .form__group,
    + .form__addons{
        margin-top: 34px;
    }
}

legend + .form__group,
legend + .form__addons,
legend + .form__label {
    margin-top: 30px;
}

// Form actions
.form__actions {
    margin-top: 30px;
    display: flex;
    width: 100%;

    .button,
    .rc_button {
        width: 100%;
    }
}

fieldset + fieldset.form__actions {
    margin-top: 60px;
    margin-bottom: 30px;
}

// For Placeholder
.form__placeholder {
    padding-top: 6px;
}


.form__group {
    > .form__input,
    > .form__color,
    > .form__date {
        + .button {
            margin-top: 12px;
        }
    }
}