.header-dropdown {
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-wrap: wrap;

	&__title {
		order: 1;
		flex-grow: 1;
	}
	&__description {
		width: 100%;
		padding-top: 19px;
		order: 3;
		flex-grow: 2;
	}
	&__actions {
		text-align: right;
		order: 2;
		flex-grow: 1;
	}

	h3,
	.rc_h3
	&__actions {
		vertical-align: middle;
	}

	h3,
	.rc_h3 {
		line-height: 1;
		margin: 0;
	}

	.rc_dropdown > .button {
		min-height: 40px;
		height: auto;
	}
	.header-dropdown__title {
		.rc_dropdown > .button {
			padding-right: 22px;
		}
	}
	@media screen and (max-width: 677px) {
		.header-dropdown__title {
			order: 1;
			width: 100%;
			.rc_dropdown > .button {
				white-space: normal;
				text-align: left;
				line-height: 1;
				width: 100%;
    			padding: 0 35px 0 14px;
    			
    			padding: 0;
			}
			.rc_dropdown > .rc_dropdown__toggle:after {
				position: absolute;
				right: 14px;
				top: 50%;
				margin-top: -10px;

				right: 0;
			}
			.rc_dropdown.show > .rc_dropdown__toggle:after {
				margin-top: -11px;
			}
		}
		.header-dropdown__description {
			order: 2;
		}
		.header-dropdown__actions {
			order: 3;
			width: 100%;
			display: flex;
			padding-top: 19px;
			text-align: center;

			.button {
				width: 100%;
			}
		}
	}
}