.rc_header-signup {
	text-align: center;
    margin: 20px auto 40px;

	h1,
	.rc_h1 {
		line-height: 1;
		margin: 0;
		letter-spacing: -0.037em;
	}

	&__title {
		color: #2C93AC;
		line-height: 1;

		+ &__description {
			margin-top: 20px;
		}
	}

	&__description {

	}
}