.header-subtitle {
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
	justify-content: center;

	&__title {
		order: 1;
		flex-grow: 1;
	}
	&__description {
		width: 100%;
		margin-top: 7px;
		order: 3;
		flex-grow: 2;
	}
	&__actions {
		display: flex;
		text-align: right;
		order: 2;
		flex-grow: 1;
		p,
		a,
		span,
		.button {
			margin: 0 0 0 auto;
			+ p,
			+ a,
			+ span,
			+ .button {
				margin-left: 12px;
			}
		}
	}

	h1,
	.rc_h1,
	h2,
	.rc_h2,
	h3,
	.rc_h3,
	h4,
	.rc_h4,
	h5,
	.rc_h5,
	h6,
	.rc_h6 {
		line-height: 1;
		margin: 0;
	}
}