.header-settings,
.rc_header-settings {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
	justify-content: center;

	&:only-child {
		margin-bottom: 0;
	}
	&__media {
		margin-right: 25px;

		img {
			vertical-align: top;
		}
	}
	&__title {
		order: 1;
		flex-grow: 1;
	}
	&__description {
		width: 100%;
		margin-top: 19px;
		order: 3;
		flex-grow: 2;
	}
	&__actions {
		display: flex;
		text-align: right;
		order: 2;
		flex-grow: 1;

		.button,
		.rc_button {
			margin: 0 0 0 auto;

			+ .button,
			+ .rc_button {
				margin-left: 12px;

				&.button--link,
				&.rc_button--link {
					margin-left: 22px;
				}
			}
		}
	}

	h1,
	.rc_h1
	&__actions {
		vertical-align: middle;
	}

	h1,
	.rc_h1 {
		line-height: 1;
		margin: 0;
	}

	@media screen and (max-width: $mobile-nav-max) {
		.header-settings__media,
		.rc_header-settings__media {
			width: 25%;
			flex-grow: 0;
			margin-right: 0;

			+ .header-settings__title,
			+ .rc_header-settings__title {
				width: 75%;
				flex-grow: 0;
			}
		}
		.header-settings__title,
		.rc_header-settings__title {
			order: 1;
			width: 100%;
		}
		.header-settings__description,
		.rc_header-settings__description {
			order: 2;
		}
		.header-settings__actions,
		.rc_header-settings__actions {
			order: 3;
			width: 100%;
			margin-top: 23px;
			text-align: center;

			.button,
			.rc_button {
				width: 100%;

				+ .button.button--link,
				+ .rc_button.rc_button--link, {
					width: auto;
				}
			}
		}
	}
}