.header-dropdown {
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-wrap: wrap;

	&__title {
		order: 1;
		flex-grow: 1;

		.rc_dropdown > .button {
			padding-right: 10px;
			min-height: 40px;
			height: auto;
		}
	}
	&__description {
		width: 100%;
		margin-top: 7px;
		order: 3;
		flex-grow: 2;
	}
	&__actions {
		display: flex;
		text-align: right;
		order: 2;
		flex-grow: 1;

		.button {
			margin: 0 0 0 auto;

			+ .button {
				margin-left: 12px;
			}
		}
	}

	h3,
	.rc_h3,
	&__actions {
		vertical-align: middle;
	}

	h3,
	.rc_h3 {
		line-height: 1;
		margin: 0;
		font-family: 'ralewaysemibold';
	}

	@media screen and (max-width: $mobile-nav-max) {
		.header-dropdown__title {
			order: 1;
			width: 100%;

			.rc_dropdown {
				 > .button {
					white-space: normal;
					text-align: left;
					line-height: 1;
					width: 100%;
					padding-right: 21px;
				}
				> .rc_dropdown__toggle:after {
					position: absolute;
					right: 14px;
					top: 50%;
					margin-top: -10px;
					right: 0;
				}
				&.show > .rc_dropdown__toggle:after {
					margin-top: -11px;
				}
			}
		}
		.header-dropdown__description {
			order: 2;
		}
		.header-dropdown__actions {
			order: 3;
			width: 100%;
			margin-top: 12px;
			text-align: center;

			.button {
				width: 100%;
			}
		}
	}
}