.form__input,
.rc_form__input {
	font-size: $font-size-base;
	color: $gray-darker;
	background-color: #FFFFFF;
	background-image: none;
	border-radius: 0;

	border: 1px solid $input-border;

	height: 40px;
	padding: 6px 10px 7px;
	min-width: 100px;

	font-family: 'ralewayregular';

	+ .form__input,
	+ .rc_form__input {
		margin-top: 10px;
	}
}

.form__input,
.rc_form__input {
	&.button--disabled,
	&.rc_button--disabled,
	&:disabled,
	&[disabled] {
		background-color: $input-disabled-background !important;
		border-color: $input-disabled-border !important;
		color: $input-disabled-color !important;
	}
}

.form__input,
.rc_form__input {
	&:focus,
	&--focus {
		border-color: $primary;
		outline: none;
	}
}

.form__input,
.rc_form__input {
	&::-webkit-input-placeholder {
		color: $gray-dark;
	}
	&:-moz-placeholder {
		color: $gray-dark;
	}
	&::-moz-placeholder {
		color: $gray-dark;
	}
	&:-ms-input-placeholder {
		color: $gray-dark;
	}
}