// Number input, using the default input
input.form__number {
	@extend .form__input;

	border: 1px solid $input-border;
	width: auto;
	min-width: 10px;
	display: inline-block;
	margin-right: 5px;

	&:focus,
	&.form__input--focus {
		border-color: #4DD6B7;
		outline: none;
	}
}

/* Control input width */
.form__number {
	&[input-width="xs"],
	&[input-width="sm"],
	&[input-width="md"],
	&[input-width="lg"] {
		width: 100%;
	}

	&[input-width="xs"] {
		max-width: 50px;
	}
	&[input-width="sm"] {
		max-width: 70px;
	}
	&[input-width="md"] {
		max-width: 90px;
	}
	&[input-width="lg"] {
		max-width: 110px;
	}
}

// Number input, using the select stylizer
.rc_select.form__number {
	width: auto;
	display: inline-block;
	margin-right: 5px;
}

.form__radio,
.form__checkbox {
	+ .form__radio__label,
	+ .form__checkbox__label {
		.form__number {
			margin-left: -5px;
			margin-top: 0;
		}
	}
}