.form__input {
	display: block;
	width: 100%;

	outline: 0;

	max-width: 100%;
	overflow: visible;

	margin: 0;

	+ .form__input {
		margin-top: 10px;
	}
}

.form__input {
	&.button--disabled,
	&:disabled,
	&[disabled] {
		cursor: $cursor-disabled;
	}
}

textarea.form__input {
	line-height: 1.5625;
	padding: 7px 10px;
	height: auto;
	min-height: 100px;
	&--code {
		font-family: 'pt-mono', monospace;
		line-height: 21px;
		min-height: 215px;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="color"],
input[type="calendar"],
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.form__input {
	&.error {
		border-color: $red;
	}
}