.form__input,
.rc_form__input {
	display: block;
	width: 100%;

	outline: 0;

	max-width: 100%;
	overflow: visible;

	margin: 0;

	+ .form__input,
	+ .rc_form__input {
		margin-top: 10px;
	}
}

.form__input,
.rc_form__input {
	&.button--disabled,
	&.rc_button--disabled,
	&:disabled,
	&[disabled] {
		cursor: $cursor-disabled;
	}
}

textarea.form__input,
textarea.rc_form__input {
	line-height: 1.5625;
	padding: 7px 10px;
	height: auto;
	min-height: 100px;
	&--code {
		font-family: 'pt-mono', monospace;
		line-height: 21px;
		min-height: 215px;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="color"],
input[type="calendar"],
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.form__input,
.rc_form__input {
	&.error,
	&.rc_error {
		border-color: $red;
	}
}

/* Control input width */
.form__number,
.form__input,
.rc_form__number,
.rc_form__input {
	&[input-width="xs"],
	&[input-width="sm"],
	&[input-width="md"],
	&[input-width="lg"] {
		min-width: 50px;
		width: 100%;
	}
	&[input-width="xs"] {
		max-width: 50px;
	}
	&[input-width="sm"] {
		max-width: 70px;
	}
	&[input-width="md"] {
		max-width: 90px;
	}
	&[input-width="lg"] {
		max-width: 110px;
	}
}

[class^="rc_form__"] {
	&[input-width="25"] {
		max-width: 50%;
	}
	&[input-width="50"] {
		max-width: 50%;
	}
	&[input-width="75"] {
		max-width: 50%;
	}
	&[input-width="100"] {
		max-width: 50%;
	}
}