$table-border-color: #EEE;
$table-font-size: 14px;
$table-label-font-size: 16px;

.rc_table {
	width: 100%;
	th,
	td {
		padding: 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			text-align: right;
		}
		&:first-child:last-child {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
		}
	}
	th {
		text-align: left;
		vertical-align: bottom;
	}
	thead {
		td, th {
			font-weight: normal;
			font-family: 'ralewaysemibold', arial, sans-serif;
			border-bottom: 1px solid $table-border-color;
			font-size: $table-label-font-size;
		}
	}
	tfoot {
		font-size: $table-label-font-size;
		font-family: 'ralewaysemibold', arial, sans-serif;
		td {
			border-top: 2px solid $table-border-color;
		}
	}
	tbody {
		font-size: $table-font-size;
		tr + tr td {
			border-top: 1px solid $table-border-color;
		}
	}
	.fa-trash {
		font-size: 20px;
		color: #8c8c8c;
		&:hover,
		&:focus,
		&:active,
		&.active {
			color: #474747;
		}
	}
}

.rc_table__container {
	overflow-x: auto;
	.rc_table {
		min-width: 240px;
	}
}

.rc_table,
.rc_table__container {
	+ .rc_table,
	+ .rc_table__container {
		margin-top: 30px;
	}
}

.rc_table {
	th,
	td {
		&:first-child {
		}
		&:last-child {
			.form__select {
				max-width: 250px;
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
}

.rc_table--toggle {
	tbody {
		th,
		td {
			vertical-align: middle;
			&:first-child {
				padding-left: 15px;
				label {
					font-size: 16px;
				}
			}
			&:last-child {
				padding-right: 15px;
				text-align: right;
			}
		}
		tr {
			background-color: #F2FCFA;
		}
		tr.rc_disabled {
			background-color: #FFF;
			td {
				&:first-child {
					label {
						&:after {
							display: inline-block;
							content: "Disabled";
							font-weight: bold;
							color: #676767;
							line-height: 1;
							font-size: 14px;
							text-indent: 6px;
						}
					}
				}
			}
		}
	}
}

.rc_table[table-borderless="true"] {
	tbody {
		tr + tr {
			td {
				border-top: 0;
			}
		}
	}
}

.rc_table[table-responsive="true"] {
	tbody {
		td:first-child {
			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				width: 25%;
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: 40%;
			}
			@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
				width: 55%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 70%;
			}
		}
	}
}