$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

.flex {

	&__container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;

		.flex__layout {
			display: flex;
			flex-wrap: wrap;

			margin-left: -10px;
			margin-right: -10px;

			div[class^="flex__"] {
				padding-left: 10px;
				padding-right: 10px;
				min-height: 1px;
			}
			@media screen and (min-width: $screen-xs-max) {
				.flex__xs__1 {
					flex-basis: percentage(1 / 12);
					flex-grow: 1;
					max-width: percentage(1 / 12);
				}
				@for $i from 2 through 12 {
					.flex__xs__#{$i} {
						flex-basis: percentage($i / 12);
						flex-grow: 1;
						flex-shrink: 0;
						max-width: percentage($i / 12);
					}
				}
			}
			@media screen and (min-width: $screen-sm-min) {
				@for $i from 1 through 12 {
					.flex__sm__#{$i} {
						flex-basis: percentage($i / 12);
						flex-grow: 1;
						flex-shrink: 0;
						max-width: percentage($i / 12);
					}
				}
			}
			@media screen and (min-width: $screen-md-min) {
				@for $i from 1 through 12 {
					.flex__md__#{$i} {
						flex-basis: percentage($i / 12);
						flex-grow: 1;
						flex-shrink: 0;
						max-width: percentage($i / 12);
					}
				}
			}
			@media screen and (min-width: $screen-lg-min) {
				@for $i from 1 through 12 {
					.flex__lg__#{$i} {
						flex-basis: percentage($i / 12);
						flex-grow: 1;
						flex-shrink: 0;
						max-width: percentage($i / 12);
					}
				}
			}
			@media screen and (min-width: $screen-xl-min) {
				@for $i from 1 through 12 {
					.flex__xl__#{$i} {
						flex-basis: percentage($i / 12);
						flex-grow: 1;
						flex-shrink: 0;
						max-width: percentage($i / 12);
					}
				}
			}

			.flex__xs,
			.flex__block {
				flex-basis: 0;
				flex-grow: 1;
			}
			.flex__sm {
				@media screen and (min-width: $screen-sm-min) {
					flex-basis: 0;
					flex-grow: 1;
				}
			}
			.flex__md {
				@media screen and (min-width: $screen-md-min) {
					flex-basis: 0;
					flex-grow: 1;
				}
			}
			.flex__lg {
				@media screen and (min-width: $screen-lg-min) {
					flex-basis: 0;
					flex-grow: 1;
				}
			}
			.flex__xl {
				@media screen and (min-width: $screen-xl-min) {
					flex-basis: 0;
					flex-grow: 1;
				}
			}
		}
	}
}

.flex__layout {
	&[flex-reverse="true"],
	&[flex-order="reverse"] {
		flex-direction: row-reverse;
	}
	&[flex-row="true"],
	&[flex-order="false"],
	&[flex-order="row"] {
		flex-direction: row;
	}
	&[flex-column="true"],
	&[flex-order="column"] {
		flex-direction: column;
	}
	&[flex-unset="true"],
	&[flex-order="unset"] {
		flex-direction: unset;
	}
}
.flex__container {
	&[flex-reverse="true"],
	&[flex-order="reverse"] {
		.flex__layout {
			flex-direction: row-reverse;
		}
	}
	&[flex-row="true"],
	&[flex-order="false"],
	&[flex-order="row"] {
		.flex__layout {
			flex-direction: row;
		}
	}
	&[flex-column="true"],
	&[flex-order="column"] {
		.flex__layout {
			flex-direction: column;
		}
	}
	&[flex-unset="true"],
	&[flex-order="unset"] {
		.flex__layout {
			flex-direction: unset;
		}
	}
}

.flex__container.flex__container--static,
.flex__container[flex-style="static"],
.flex__container[flex-static="true"] {
	@media screen and (max-width: $screen-xs-max) {
		max-width: 100%;
	}
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		max-width: $screen-sm-min;
	}
	@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		max-width: $screen-md-min;
	}
	@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		max-width: $screen-lg-min;
	}
	@media screen and (min-width: $screen-xl-min) {
		max-width: $screen-xl-min;
	}
}

.flex__container.flex__container--seamless,
.flex__container[flex-style="seamless"],
.flex__container[flex-seamless="true"] {
	padding-left: 0;
	padding-right: 0;

	> .flex__layout {
		margin-left: 0;
		margin-right: 0;

		> .flex__full,
		> .flex__sidebar,
		> .flex__content,
		> div[class^="flex__xs__"],
		> div[class^="flex__sm__"],
		> div[class^="flex__md__"],
		> div[class^="flex__lg__"],
		> div[class^="flex__xl__"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.flex__container {
	.flex__layout {
		.flex__full {
			flex-basis: percentage(12 / 12);
		}
		.flex__sidebar {
			@media screen and (max-width: $screen-xs-max) {
				flex-basis: percentage(12 / 12);
			}
			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				flex-basis: percentage(4 / 12);
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				flex-basis: percentage(3 / 12);
			}
			@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
				flex-basis: percentage(3 / 12);
			}
			@media screen and (min-width: $screen-xl-min) {
				flex-basis: percentage(2 / 12);
			}
		}
		.flex__content {
			@media screen and (max-width: $screen-xs-max) {
				flex-basis: percentage(12 / 12);
			}
			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				flex-basis: percentage(8 / 12);
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				flex-basis: percentage(9 / 12);
			}
			@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
				flex-basis: percentage(9 / 12);
			}
			@media screen and (min-width: $screen-xl-min) {
				flex-basis: percentage(10 / 12);
			}
		}
	}
}


.flex__container--visible {
	padding: 10px;
	background-color: #F6F6F6;

	&[flex-order="reverse"] {
		div[class^="flex__"] {

			+ div[class^="flex__"] {
				border-right: 10px solid #bef0e5;
				border-left: 0;

				&:last-child {
					border-left: 0 !important;
				}
			}
		}
	}


	.flex__layout {
		padding: 10px;
		background-color: #bef0e5;

		div[class^="flex__"] {
			line-height: 1;
			padding: 10px;
			text-align: center;
			background-color: #6bddc3;

			+ div[class^="flex__"] {
				border-left: 10px solid #bef0e5;
				overflow: hidden;
			}
		}

		+ .flex__layout {
			border-top: 10px solid #F6F6F6;
		}
	}

	+ .flex__container--visible {
		border-top: 10px solid #FFF;
	}
}