$table-border-color: #EEE;
$table-font-size: 14px;
$table-label-font-size: 16px;

.rc_table {
	th,
	td {
		padding: 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			text-align: right;
		}
		&:first-child:last-child {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
		}
	}
	th {
		text-align: left;
		vertical-align: bottom;
	}
	[class*="fa-"] {
		font-size: 20px;
		color: $gray-dark;

		&:hover,
		&:focus,
		&:active,
		&.active {
			color: $gray-darker;
		}
	}
	thead {
		td, th {
			font-weight: normal;
			font-family: 'ralewaysemibold', arial, sans-serif;
			border-bottom: 1px solid $table-border-color;
			font-size: $table-label-font-size;
		}
	}
	tfoot {
		font-size: $table-label-font-size;
		font-family: 'ralewaysemibold', arial, sans-serif;
		td {
			border-top: 2px solid $table-border-color;
		}
	}
	tbody {
		font-size: $table-font-size;
		tr + tr td {
			border-top: 1px solid $table-border-color;
		}
	}
}

.rc_table--toggle {
	tbody {
		th,
		td {
			&:first-child {
				padding-left: 15px;

				label {
					font-size: 16px;
				}
			}
			&:last-child {
				padding-right: 15px;
				text-align: right;
			}
		}
		tr {
			background-color: #F2FCFA;
		}
		tr.rc_disabled {
			background-color: #FFF;

			td {
				&:first-child {
					label {
						&:after {
							font-weight: bold;
							font-size: .8;
						}
					}
				}
			}
		}
	}
}