.rc_banner {
	display: block;
	width: 100%;
	position: relative; // absolute
	bottom: 0;
	left: 0;
	background-color: #676767;
	font-size: 18px;
	color: #FFF;
	font-family: 'ralewayregular', arial, sans-serif;
	text-align: left;

	max-height: 0;

	-webkit-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;

	overflow: hidden;

	> ul {
		margin: 54px 25px 25px 54px;
	}

	&.rc_show {
		max-height: 200px;
	}

	&__close {
		-webkit-appearance: none;
		outline: 0;
		position: absolute;
		top: 11px;
		right: 13px;
		display: block;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 0;
		line-height: 1;
		cursor: pointer;
		&:before {
			content: "\f00d";
			font-family: fontawesome;
			font-size: 24px;
			color: #FFF;
		}
	}
}
.rc_flash {
	&:before,
	&:after {
		display: block;
		position: absolute;
		font-size: 20px;
		line-height: 1;
	}
	&:before {
		font-family: 'fontawesome';
		top: 20px;
		left: 20px;
	}
	&:after {
		font-family: 'ralewaysemibold', arial, sans-serif;
		top: 19px;
		left: 54px;
	}
	&.rc_notification--info {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Info";
		}
	}
	&.rc_notification--warning {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Warning";
		}
	}
	&.rc_notification--success {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Success";
		}
	}
	&.rc_notification--error {
		&:before {
			content: "\f071";
		}
		&:after {
			content: "Error";
		}
	}
}