$gutter: 30px;

.sidebar,
.rc_sidebar {
	&__header {
		h2, h3 {
			display: inline-block;
			line-height: inherit;
		}
	}

	&__menu {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

/* Compatability */
.flex__sidebar,
.rc_layout__sidebar {
	.sidebar,
	.rc_sidebar {
		height: 100%;
	}

	.sidebar--alt,
	.rc_sidebar--alt {
		@media screen and (max-width: $mobile-nav-max) {
			margin-bottom: $gutter;
		}
	}
}