$button-background: #5C5C5C;
$font-size-small: 14px;
$button-color: #FFF;
$button-hover-background: darken($button-background, 10%);

.breadcrumbs {
	list-style: none;
	display: table;
	height: 30px;
	width: 100%;
	overflow: hidden;
	background-color: $button-background;
	color: $button-color;
	font-family: 'ralewaysemibold', arial, sans-serif;
	@media screen and (max-width: $mobile-nav-max) {
		display: block;
	}
	.crumb {
		list-style: none;
		position: relative;
		display: table-cell;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		max-width: max-content;
		font-size: $font-size-small;
		> a,
		> span {
			color: $button-color;
			display: block;
			height: 30px;
			line-height: 30px;
			padding-left: 20px;
			padding-right: 10px;
			white-space: nowrap;
		}
		a {
			text-decoration: none;
		}
		&:after,
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border-width: 15px;
			border-color: transparent;
			border-style: solid;
			background-color: transparent;
		}
		&:after {
			margin-left: -1px;
		}
		&:hover {
			background: $button-hover-background;
			& + .crumb {
				&:after {
					border-left-color: $button-hover-background;
				}
			}
		}
		& + .crumb {
			a {
				padding-left: 31px;
			}
			&:before {
				border-left-color: #FFF;
			}
			&:after {
				border-left-color: $button-background;
			}
		}
		&.no-link {
			&:hover {
				span {
					background: $button-background;
				}
				& + .crumb {
					&:after {
						border-left-color: $button-background;
					}
				}
			}
		}
		&:last-child {
			width: 100%;
			max-width: 100%;
			padding-left: 31px;
			&:hover {
				background-color: $button-background;
			}
		}
	}
}