$gutter: 30px;

/* TEMP STYLES WHILE MIGRATING SIDE_NAV FROM PROXY PAGES */
div#rc_sidenav {
	.customer__name {
	    display: inline-block;
	    margin-left: -15px;
	}

    .rc_sidebar__container {
        height: 100%;
        margin-left: -30px;
    }
}
/* END OF TEMP STYLES */

.sidebar {
	background-color: #FFF;
}

.flex__sidebar {

	.sidebar {
		height: 100%;
		margin-left: -$gutter;
		// margin-top: -($gutter - 5);
		// margin-bottom: -$gutter;

		@media screen and (max-width: $mobile-nav-max) {
			margin-right: -$gutter;
		}
	}
}

.sidebar__menu {
	width: 100%;
	padding: 0;
	list-style: none;

	.menu__item {
		text-transform: uppercase;

		> a {
			width: 100%;
			line-height: 1;
			font-size: $font-size-base;
			display: block;
			padding: 14px 15px;
			text-decoration: none;
			color: #424242;

			&:hover,
			&:focus {
				color: #424242;
				background-color: #EEE;
			}
			&:active,
			&.active {
				color: #FFF;
				background-color: #2C93AC;
			}
		}
	}
}

/* Alt styling */
.sidebar {
	&--alt {
		background-color: #EEE;
		.sidebar__menu {
			.menu__item {
				> a {
					&:hover,
					&:focus,
					&:active,
					&.active {
						background-color: #2C93AC;
						color: #FFF;
					}
				}
			}
		}
	}
}