.visible--xs {
	@media screen and (min-width: $screen-xs-max + 1) {
		display: none;
	}
}

.visible--mobile {
	@media screen and (min-width: $mobile-nav-max + 1) {
		display: none;
	}
}

.hidden--mobile {
	@media screen and (max-width: $mobile-nav-max) {
		display: none;
	}
}

.pull--right {
	float: right;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

.text--left {
	text-align: left;
}

img.fluid-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}