@import 'helpers/_variables.scss';

/* Variables */
// Standard contrast
$white: #FFFFFF;
$black: #000000;

// Shades
$gray-lighter: #EEEEEE;
$gray-light: #CCCCCC;
$gray: #8E8F8E;
$gray-dark: #676767;
$gray-darker: #424242;

// Colors
$cyan: #53BAD3;
$blue: #2C93AC;
$green: #2BAC8F;
$aquamarine: #4DD6B7;
$mint: #BDF0E4;
$yellow: #FFF155;
$orange: #FB8309;
$red: #EC3D10;
$magenta: #C00399;
$pink: #D06EAB;

// Brand
$brand: $blue; // #2C93AC

// Status-related
$default: $gray-darker;
$primary: $aquamarine;
$success: $green;
$danger: $red;
$info: $blue;
$disabled: $gray-light;

// Font sizes
$font-size-small: 14px !default;
$font-size-base: 16px !default;
$font-size-large: 24px !default;

// Input style
$input-disabled-background: #F9F9F9 !default;
$input-disabled-border: #CCC !default;
$input-disabled-color: #999 !default;
$cursor-disabled: not-allowed;

// Header font sizes
$h1-font-size: 35px !default;
$h2-font-size: 30px !default;
$h3-font-size: 24px !default;
$h4-font-size: 20px !default;
$h5-font-size: 16px !default;

@import 'helpers/_reset.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_fonts.scss';

@import '_general.scss';

@import '_buttons.scss';
@import '_forms.scss';

@import '_inputs_label.scss';
@import '_inputs_text.scss';
@import '_inputs_checkbox.scss';
@import '_inputs_radio.scss';
@import '_inputs_select.scss';
@import '_inputs_number.scss';
@import '_inputs_color.scss';
@import '_inputs_date.scss';

@import '_headers_settings.scss';
@import '_headers_signup.scss';
@import '_headers_dropdown.scss';
@import '_headers_subtitle.scss';

@import '_dynamics_dropdown.scss';
@import '_dynamics_modals.scss';
@import '_dynamics_tooltips.scss';

@import '_layout_grid-system.scss';
@import '_layout_tables.scss';
@import '_dynamics_notifications.scss';

@import '_navigation_sidebar.scss';
@import '_navigation_navbars.scss';
@import '_navigation_breadcrumbs.scss';

@import '_admin.scss';
@import '_utilities.scss';
