@import 'helpers/_variables.scss';

/* Proxy reset */
.recharge {
	text-align: left;
	box-sizing: border-box;
	clear: both;

	ul, ol {
		list-style: none;
	}
}

@import '_layout_grid-system.scss';
@import '_layout_tables.scss';

@import '_buttons.scss';
@import '_forms.scss';
@import '_form_list.scss';
@import '_form_addons.scss';

@import '_inputs_label.scss';
@import '_inputs_text.scss';
@import '_inputs_checkbox.scss';
@import '_inputs_radio.scss';
@import '_inputs_select.scss';
@import '_inputs_select_filter.scss';
@import '_inputs_number.scss';
@import '_inputs_color.scss';
@import '_inputs_date.scss';

@import '_dynamics_notifications.scss';

@import '_headers_settings.scss';
@import '_headers_signup.scss';
@import '_headers_dropdown.scss';
@import '_headers_subtitle.scss';

@import '_navigation_sidebar.scss';
@import '_navigation_pagination.scss';

@import '_components_products.scss';

@import '_utilities.scss';