{% extends 'base.html' %}

{% block body %}
<h1>Colors</h1>

<h2>Brand</h2>
<div class="rc_example">
<span class="swatch rc_background--cyan">
	Logo mark <span class="hexcode">#53BAD3</span>
</span>
<span class="swatch rc_background--gray-dark">
	Logo type &nbsp; <span class="hexcode">#676767</span>
</span>
</div>

<h2>Text</h2>
<div class="rc_example">
<span class="swatch rc_background--gray-darker">
	Default <span class="hexcode">#424242</span>
</span>
<span class="swatch rc_background--gray-dark">
	Info text &nbsp; <span class="hexcode">#676767</span>
</span>
<span class="swatch rc_background--aquamarine">
	Links <span class="hexcode">#4DD6B7</span>
</span>
</div>

<hr>

<h2>All colors</h2>
<div class="rc_example">
<span class="swatch rc_background--black">
	Black <span class="hexcode">#000000</span>
</span>
<span class="swatch rc_background--gray-darker">
	Gray-Darker <span class="hexcode">#424242</span>
</span>
<span class="swatch rc_background--gray-dark">
	Gray-Dark <span class="hexcode">#676767</span>
</span>
<span class="swatch rc_background--gray">
	Gray <span class="hexcode">#8E8F8E</span>
</span>
<span class="swatch rc_background--gray-light">
	Gray-Light <span class="hexcode">#CCCCCC</span>
</span>
<span class="swatch rc_background--gray-lighter">
	Gray-Lighter <span class="hexcode">#EEEEEE</span>
</span>
<span class="swatch rc_background--white">
	White <span class="hexcode">#FFFFFF</span>
</span>
<span class="swatch rc_background--cyan">
	Cyan <span class="hexcode">#53BAD3</span>
</span>
<span class="swatch rc_background--blue">
	Blue <span class="hexcode">#2C93AC</span>
</span>
<span class="swatch rc_background--green">
	Green <span class="hexcode">#2BAC8F</span>
</span>
<span class="swatch rc_background--aquamarine">
	Aquamarine <span class="hexcode">#4DD6B7</span>
</span>
<span class="swatch rc_background--mint">
	Mint <span class="hexcode">#BDF0E4</span>
</span>
<span class="swatch rc_background--yellow">
	Yellow <span class="hexcode">#FFF155</span>
</span>
<span class="swatch rc_background--orange">
	Orange <span class="hexcode">#FB8309</span>
</span>
<span class="swatch rc_background--red">
	Red <span class="hexcode">#EC3D10</span>
</span>
<span class="swatch rc_background--magenta">
	Magenta <span class="hexcode">#C00399</span>
</span>
</div>
{% endblock %}