{% extends 'base.html' %}

{% block body %}
<h1>Typography</h1>

<h2>Headers</h2>
<div class="rc_example">
<span class="rc_h1">This is a page header</span>
<p>To be used on dashboard pages. (Subscription rules, Orders)</p>
<br>
<span class="rc_h3">This is a page header</span>
<p>To be used on settings pages, edit pages, and modal windows</p>
<br>
<span class="rc_h4">This is a section header</span>
<p>To be used in the content area of a page.</p>
<br>
<span class="rc_h5">This is a section header</span>
<p>To be used in the content area specifically as a form label, list title, table column, header, etc.</p>
</div>

<h2>Fonts</h2>
<p>A sample of the fonts and weights we use on the site.</p>
<h3>Raleway Regular</h3>
<div class="rc_example">
	<div class="rc_font--400">
		<p>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456790??!(%)[#]{@}'"_&ndash;&amp;&lt;-+=&gt;&copy;^$:;,.~*</p>
		<br>
		<p>
			Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.</p>
		</p>
	</div>
</div>

<h3>Raleway Medium</h3>
<div class="rc_example">
	<div class="rc_font--500">
		<p>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456790??!(%)[#]{@}'"_&ndash;&amp;&lt;-+=&gt;&copy;^$:;,.~*</p>
		<br>
		<p>
			Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.</p>
		</p>
	</div>
</div>

<h3>Raleway Semibold</h3>
<div class="rc_example">
	<div class="rc_font--600">
		<p>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456790??!(%)[#]{@}'"_&ndash;&amp;&lt;-+=&gt;&copy;^$:;,.~*</p>
		<br>
		<p>
			Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.</p>
		</p>
	</div>
</div>

<h3>Raleway Bold</h3>
<div class="rc_example">
	<div class="rc_font--700">
		<p>
			ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456790??!(%)[#]{@}'"_&ndash;&amp;&lt;-+=&gt;&copy;^$:;,.~*
		</p>
		<br>
		<p>
			Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.</p>
		</p>
	</div>
</div>


<h2>HTML reference</h2>
<p>Styling for default HTML markup.</p>
<div class="rc_example">
	<code>&lt;body&gt;&lt;/body&gt;</code><br>
	Maecenas faucibus mollis interdum.<br>
	Nulla vitae elit libero, a pharetra augue.<br>
	<br>
	<code>&lt;p&gt;&lt;/p&gt;</code>
	<p>Maecenas faucibus mollis interdum.</p>
	<p>Duis mollis, est non commodo luctus.</p>
	<br>
	<code>&lt;a href=""&gt;&lt;/a&gt;</code>
	<p><a href="#">Praesent commodo cursus magna.</a></p>
	<br>
	<code>&lt;strong&gt;&lt;/strong&gt;</code>
	<p><strong>Maecenas faucibus mollis interdum.</strong></p>
	<br>
	<code>&lt;b&gt;&lt;/b&gt;</code>
	<p><b>Praesent commodo cursus magna.</b></p>
	<br>
	<code>&lt;em&gt;&lt;/em&gt;</code>
	<p><em>Maecenas faucibus mollis interdum.</em></p>
	<br>
	<code>&lt;i&gt;&lt;/i&gt;</code>
	<p><i>Vel scelerisque nisl consectetur et.</i></p>
	<br>
	<code>&lt;small&gt;&lt;/small&gt;</code>
	<p><small>A pharetra augue</small></p>
	<br>
	<code>&lt;label&gt;&lt;/label&gt;</code>
	<p><label>Lorem ipsum dolor sit amet.</label></p>
	<br>
	<code>&lt;code&gt;&lt;/code&gt;</code>
	<p><code>Vivamus sagittis lacus vel augue laoreet.</code></p>
	<br>
	<code>&lt;mark&gt;&lt;/mark&gt;</code>
	<p><mark>Nulla vitae elit libero</mark></p>
	<br>
	<code>&lt;del&gt;&lt;/del&gt;</code>
	<p><del>Maecenas faucibus mollis interdum</del></p>
	<br>
	<code>&lt;s&gt;&lt;/s&gt;</code>
	<p><s>Fusce dapibus tellus cursus.</s></p>
	<br>
	<code>&lt;ins&gt;&lt;/ins&gt;</code>
	<p><ins>Morbi leo risus</ins></p>
	<br>
	<code>&lt;sub&gt;&lt;/sub&gt;</code>
	<p><sub>Porta ac consectetur ac</sub></p>
	<br>
	<code>&lt;sup&gt;&lt;/sup&gt;</code>
	<p><sup>Vestibulum at eros</sup></p>
	<br>
</div>
{% endblock %}