.rc_color {
	&--black {
		color: $black !important;
	}
	&--gray-darker {
		color: $gray-darker !important;
	}
	&--gray-dark {
		color: $gray-dark !important;
	}
	&--gray {
		color: $gray !important;
	}
	&--gray-light {
		color: $gray-light !important;
	}
	&--gray-lighter {
		color: $gray-lighter !important;
	}
	&--white {
		color: $white !important;
	}
	&--cyan {
		color: $cyan !important;
	}
	&--blue {
		color: $blue !important;
	}
	&--green {
		color: $green !important;
	}
	&--aquamarine {
		color: $aquamarine !important;
	}
	&--mint {
		color: $mint !important;
	}
	&--yellow {
		color: $yellow !important;
	}
	&--orange {
		color: $orange !important;
	}
	&--red {
		color: $red !important;
	}
	&--magenta {
		color: $magenta !important;
	}
	&--pink {
		color: $pink !important;
	}
}

.rc_background {
	&--black {
		background-color: $black !important;
	}
	&--gray-darker {
		background-color: $gray-darker !important;
	}
	&--gray-dark {
		background-color: $gray-dark !important;
	}
	&--gray {
		background-color: $gray !important;
	}
	&--gray-light {
		background-color: $gray-light !important;
	}
	&--gray-lighter {
		background-color: $gray-lighter !important;
	}
	&--white {
		background-color: $white !important;
	}
	&--cyan {
		background-color: $cyan !important;
	}
	&--blue {
		background-color: $blue !important;
	}
	&--green {
		background-color: $green !important;
	}
	&--aquamarine {
		background-color: $aquamarine !important;
	}
	&--mint {
		background-color: $mint !important;
	}
	&--yellow {
		background-color: $yellow !important;
	}
	&--orange {
		background-color: $orange !important;
	}
	&--red {
		background-color: $red !important;
	}
	&--magenta {
		background-color: $magenta !important;
	}
	&--pink {
		background-color: $pink !important;
	}
}