{% extends 'base.html' %}
{% set page_class = "banners" %}
{% block body %}
<h1>Banners</h1>
<p>Banners are a varation of the notification system, using Flask flash messaging</p>
<div class="rc_example">
	<div class="rc_notification rc_notification--error">
		<ul>
			<li>Discount code already exists</li>
			<li>Start date must be formatted as YYYY-MM-DD</li>
		</ul>
	</div>
	<div class="rc_notification rc_notification--warning">
		<ul>
			<li>Statement about something. Does not timeout.</li>
		</ul>
	</div>
	<div class="rc_notification rc_notification--success">
		<ul>
			<li>Statement about something that needs a success message. This dropdown should timeout.</li>
		</ul>
	</div>
	<div class="rc_notification rc_notification--info">
		<ul>
			<li>Statement about something that caters to neutral information. This dropdown should timeout.</li>
		</ul>
	</div>
</div>

<h3>Review banner</h3>
<div class="rc_example">
<div id="review_bar" class="rc_notification rc_notification--review">
	<div id="review_unrated">
		How would you rate our app?
		<ul class="review__rating review__rating--unrated">
			<li class="rating__star" data-rating="1"></li>
			<li class="rating__star" data-rating="2"></li>
			<li class="rating__star" data-rating="3"></li>
			<li class="rating__star" data-rating="4"></li>
			<li class="rating__star" data-rating="5"></li>
		</ul>
	</div>
	<div id="review_rated" style="display: none;">
		<p><span class="rating__negative">Thanks for the feedback!</span><span class="rating__positive" style="display: none;"> Could you leave this review on Shopify? It's a huge motivator for us.</span></p> 
		<a href="//bit.ly/rechargeappreiew" target="_blank" class="button rating__positive" id="write-a-review" style="display: none;">Leave review</a>
	</div>
</div>
<script>
	$(function() {
		// Control the hovering of the stars
		$('.rating__star').hover(function() {
			// Hover the the current star and all preceeding stars
			var rating = $(this).attr('data-rating');
			for (i = 0; i < rating; i++) {
				var star = $('.review__rating--unrated .rating__star').eq(i);
				star.addClass('star--active');
			}
		}, function() {
			// Reset the hovered-on stars each time a user hovers off one
			var rating = $(this).data('rating');
			$('.review__rating--unrated .rating__star').removeClass('star--active');
		});
		
		// Control the clicking of a star
		$('.rating').on('click', '.rating__star', function(e) {
			e.preventDefault();
			// Once a rating is capture, prevent additional clicks
			$('.rating').removeClass('review__rating--unrated').addClass('rated');
			var rating = $(this).data('rating');
			for (i = 0; i < rating; i++) {
				// Highlight the current star and all preceeding
				var star = $('.rating .rating__star').eq(i);
				star.addClass('active');
			}
			var data = {
				'store_id': 14920,
				// 'review_status': 'asked_for_review',
				'review_rating': rating
			}
			if (rating == 5) {
				// If the rating is 5, show button to review and update review_status with asked_for_review
				$('.rating__negative').hide()
				$('.rating__positive').show();
			} else {
				// If the rating is 3 or below, do not ask for review, update review_status with dont_ask
				if (rating <= 2) {
					data['review_status'] = 'dont_ask';
				} else {
					// Rating is 3 or 4. Disable the review request for 60 days
					setCookie('hide_review_bar', 'true', 60);
				}
				// Automatically hide slider
				setTimeout(function() {
					$('.rc_notification--review').slideToggle();
				}, 6000);
			}
			// Thank store owner for review
			$('#rating__unrated').fadeOut(300);
			$('#rating__rated').animate({'opacity': 1}, 400);
			// Send update to review status
			var url = '/store/review/update';
			$.ajax({
				type: 'POST',
				url: url,
				data: data
			});
		});

		$('.rc_notification--review').on('click', '.rc_notifications__close', function(e) {
			e.preventDefault();
			// Update review_status to 'dont_ask'
			var data = {
				'store_id': 14920,
				'review_status': 'dont_ask'
			}
			var url = '/store/review/update';
			$.ajax({
				type: 'POST',
				url: url,
				data: data
			});
		})
        // Customer has agreed to leave a review
        $(document).on('click', '#write-a-review', function() {
            // Automatically hide slider
            setTimeout(function() {
                $('.rc_notification--review').slideToggle();
            }, 10000);
        });			
        // Log clicking anywhere in the bar
		$(document).on('click', '.rc_notification--review', function() {
            // Update review_status to 'dont_ask'
            console.log('something worked');
            
            var data = {
                'store_id': 14920
            }
            var url = '/store/review/click_bar';
            $.ajax({
                type: 'POST',
                url: url,
                data: data
            });
            
		});
	});
</script>
{% endblock %}