{% extends 'base.html' %}

{% block body %}
<h1>Cards</h1>
<div class="rc_example">
<div class="rc_card__container">
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Title</strong>
		</div>
		<div class="rc_card__body">
			<p>Description</p>
		</div>
		<div class="rc_card__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Title</strong>
		</div>
		<div class="rc_card__body">
			<p>Description</p>
		</div>
		<div class="rc_card__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Title</strong>
		</div>
		<div class="rc_card__body">
			<p>Description</p>
		</div>
		<div class="rc_card__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Title</strong>
		</div>
		<div class="rc_card__body">
			<p>Description</p>
		</div>
		<div class="rc_card__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Title</strong>
		</div>
		<div class="rc_card__body">
			<p>Description</p>
		</div>
		<div class="rc_card__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
</div>
</div>
{% endblock %}