{% extends 'base.html' %}

{% block body %}
<h1>Cards</h1>
<h2>Sectional cards</h2>
<div class="rc_example">
	<section class="rc_card">
		<h3>Corey Lorey Borey</h3>
		<p>something something something else</p>
	</section>
	<section class="rc_card">
		<h3>Corey Lorey Borey</h3>
		<p>something something something else</p>
	</section>
</div>
<h2>Sectional cards reversed</h2>
<div class="rc_example">
	<section class="rc_card rc_card--reverse">
		<h3>Corey Lorey Borey</h3>
		<p>something something something else</p>
	</section>
	<section class="rc_card rc_card--reverse">
		<h3>Corey Lorey Borey</h3>
		<p>something something something else</p>
	</section>
</div>
{# <h2>Product list</h2>
<div class="rc_example">
	<h4>Default</h4>
	<div class="rc_product__list">
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
	</div>
	<hr>
	<h4>Inline</h4>
	<div class="rc_product__list rc_product__list--inline">
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
	</div>
	<hr>
	<h4>Cards</h4>
	<div class="rc_product__list rc_product__list--inline rc_product__list--cards">
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
		<a href="#" class="rc_product">
			<div class="rc_product__inner">
				<div class="rc_product__media">
					<img src="http://placehold.it/73x71" alt="Strawberry product image" class="rc_product__image">
				</div>
				<div class="rc_product__details">
					<div class="rc_product__title">Strawberry</div>
					<div class="rc_product__description">1 Bag / 12 months / Whole Bean</div>
					<div class="rc_product__price">$159.00</div>
				</div>
			</div>
		</a>
	</div>
</div> #}
<h2>Addon Cards</h2>
<div class="rc_example">
<div class="rc_addon__container">
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
</div>
</div>
{% endblock %}