{% extends 'base.html' %}

{% block body %}
<h1>Cards</h1>
<div class="rc_example">
	<section class="rc_card">
		<h3>Corey Lorey Borey</h3>
		<p>something something something else</p>
	</section>
</div>
<h1>Addon Cards</h1>
<div class="rc_example">
<div class="rc_addon__container">
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
	<div class="rc_addon">
		<div class="rc_addon__media">
			<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt="Logo" class="rc_addon__media__image"></a>
			<strong class="rc_addon__title">Title</strong>
		</div>
		<div class="rc_addon__body">
			<p>Description</p>
		</div>
		<div class="rc_addon__footer">
			<a href="#" class="button button--block">Action</a>
		</div>
	</div>
</div>
</div>
{% endblock %}