{% extends "base.html" %}
{% block title %}Checkboxes{% endblock %}
{% block body %}
<h1>Checkboxes</h1>
<div class="rc_example">
	{{ ui_element("form/checkbox", {'label': 'Checkbox 1', 'id': 'checkbox_1', 'name': 'checkbox_1', 'checked': 'true'}) | safe }}
	{{ ui_element("form/checkbox", {'label': 'Checkbox 2', 'id': 'checkbox_2', 'name': 'checkbox_2'}) | safe }}
	{{ ui_element("form/checkbox", {'label': 'Checkbox 3', 'id': 'checkbox_3', 'name': 'checkbox_3', 'disabled': 'true'}) | safe }}
	{{ ui_element("form/checkbox", {'label': 'Checkbox 4', 'id': 'checkbox_4', 'name': 'checkbox_4', 'checked': 'true', 'error': 'true'}) | safe }}
</div>

<div class="rc_example">
	{{ ui_element("form/field_checkbox", {'label': 'Checkbox 1', 'id': 'checkbox_1', 'name': 'checkbox_1', 'checked': 'true'}) | safe }}
	{{ ui_element("form/field_checkbox", {'label': 'Checkbox 2', 'id': 'checkbox_2', 'name': 'checkbox_2'}) | safe }}
	{{ ui_element("form/field_checkbox", {'label': 'Checkbox 3', 'id': 'checkbox_3', 'name': 'checkbox_3', 'disabled': 'true'}) | safe }}
	{{ ui_element("form/field_checkbox", {'label': 'Checkbox 4', 'id': 'checkbox_4', 'name': 'checkbox_4', 'checked': 'true', 'error': 'true'}) | safe }}
</div>
{% endblock %}