{% extends 'base.html' %}
{% block body %}
<h1>Colors</h1>
<div class="rc_example">
	<div class="form__group">
		<label for="colors_font_color_1" class="form__label">Button</label>
		<input type="text" id="colors_font_color_1" name="colors_font_color_1" value="#4dd6b7" class="form__color">
		<input type="color" name="colors_font_color_1" value="#4dd6b7" class="form__color__picker">
	</div>
	<div class="form__group">
		<label for="colors_font_color_2" class="form__label">Button</label>
		<input type="text" id="colors_font_color_2" name="colors_font_color_2" value="#5c5c5c" class="form__color">
		<input type="color" name="colors_font_color_2" value="#5c5c5c" class="form__color__picker">
	</div>
	<div class="form__group">
		<label for="colors_font_color_3" class="form__label">Button</label>
		<input type="text" id="colors_font_color_3" name="colors_font_color_3" value="#d8d8d8" class="form__color">
		<input type="color" name="colors_font_color_3" value="#d8d8d8" class="form__color__picker">
	</div>
</div>
{% endblock %}