{% extends "base.html" %}
{% block body %}
<h1>Continue bar</h1>
<div class="rc_example">
	<div class="rc_continue">
		<button id="go_back" class="rc_continue__back admin-recharge"></button>
		<button id="save_settings" class="rc_continue__next">Next</button>
	</div>
	<div class="rc_continue">
		<button id="go_back" class="rc_continue__back"></button>
		<button id="save_settings" class="rc_continue__next">Next</button>
	</div>
	<div class="rc_continue">
		<button id="go_back" class="rc_continue__back"></button>
		<button id="save_settings" class="rc_continue__next">Next</button>
	</div>
</div>
{% endblock %}