{% extends "base.html" %}
{% block body %}
<h1>Dropdowns</h1>
<p>Under active development</p>
<div class="rc_example">
	{{ ui_element('dynamic/dropdown', {
		'title': "My Dropdown",
		'links': [{
				'title': 'Link 1',
				'url': '/link-1',
				'active': false
			}, {
				'title': 'Link 2',
				'url': '/link-2',
				'active': false
			}, {
				'title': 'Link 3',
				'url': '/link-3',
				'active': false
			}]
	}) | safe }}
	{{ ui_element('dynamic/dropdown', {
		'title': "My Dropdown",
		'active': true,
		'links': [{
				'title': 'Link 1',
				'url': '/link-1',
				'active': false
			}, {
				'title': 'Link 2',
				'url': '/link-2',
				'active': false
			}, {
				'title': 'Link 3',
				'url': '/link-3',
				'active': false
			}]
	}) | safe }}
</div>
<div class="rc_example">
	{{ ui_element('dynamic/dropdown', {
		'title': "Recurring Charge Confirmation", 
		'style': 'h3',
		'link': true,
		'alignment': 'right',
		'links': [{
				'title': 'Link 1',
				'url': '/link-1'
			}, {
				'title': 'Link 2',
				'url': '/link-2',
				'active': true
			}, {
				'title': 'Link 3',
				'url': '/link-3'
			}, {

			}, {
				'title': 'Another action',
				'url': '/link-3'
			}, {
				'title': 'Something else here'
			}]
		}) | safe }}
</div>

<h2>Settings</h2>
<div class="rc_example">
	<div class="rc_dropdown rc_dropdown--settings">
		<button class="rc_button rc_button--link rc_dropdown__toggle rc_button--fa-gear" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true"> Settings</button>
		<div class="rc_dropdown__menu">
			<a href="/link-1" class="rc_item">Link 1</a>
			<a href="/link-2" class="rc_item">Link 2</a>
			<a href="/link-3" class="rc_item">Link 3</a>
		</div>
	</div>
	<br>
	<div class="rc_dropdown rc_dropdown--settings">
		<button class="rc_button rc_button--link rc_dropdown__toggle rc_button--fa-gear" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true"></button>
		<div class="rc_dropdown__menu">
			<a href="/link-1" class="rc_item">Link 1</a>
			<a href="/link-2" class="rc_item">Link 2</a>
			<a href="/link-3" class="rc_item">Link 3</a>
		</div>
	</div>
</div>
{% endblock %}