{% extends 'base.html' %}

{% block body %}
<h1>Form addons</h1>
<div class="rc_example">
	<label class="form__label">label</label>
	<div class="form__addons">
		<div class="form__group">
			<input type="text" value="My text" class="form__input">
		</div>
		<div class="form__group">
			<input type="text" value="My text" class="form__input">
		</div>
		<div class="form__actions">
			<button class="button">Submit</button>
		</div>
	</div>
</div>

<h3>Inline label</h3>
<p>Place the <code>.form__label</code> in the same hierarchy as a <code>.form__group</code></p>
<div class="rc_example">
	<div class="form__addons form__addons--auto">
		<label class="form__label">$</label>
		<div class="form__group">
			<input type="number" value="10.99" class="form__number">
		</div>
		<div class="form__actions">
			<button class="button">Calculate</button>
		</div>
	</div>
	<div class="form__addons form__addons--full">
		<label class="form__label">$</label>
		<div class="form__group">
			<input type="number" value="10.99" class="form__number">
		</div>
		<div class="form__actions">
			<button class="button">Calculate</button>
		</div>
	</div>
	<div class="form__addons form__addons--full">
		<label class="form__label">Currency Type</label>
		<div class="form__group">
			<select class="form__select">
				<option>Select an option...</option>
				<option>$</option>
				<option>USD</option>
			</select>
		</div>
		<div class="form__actions">
			<button class="button">Select</button>
		</div>
	</div>
</div>

<h2>Seamless</h2>
<p>Place a margin between form groups will be removed.</p>
<div class="rc_example">
	<div class="form__addons form__addons--seamless form__addons--full">
		<label class="form__label">Phone</label>
		<div class="form__group">
			<input type="text" value="000" class="form__input">
		</div>
		<div class="form__group">
			<input type="text" value="000" class="form__input">
		</div>
		<div class="form__group">
			<input type="text" value="0000" class="form__input">
		</div>
		<div class="form__actions">
			<button class="button">Call</button>
		</div>
	</div>
</div>

<h2>Cards</h2>
<div class="rc_example">
	<div class="form__group">
		<label class="form__label">Full name on card</label>
		<input type="text" class="form__input">
	</div>
	<div class="form__group">
		<label class="form__label">Card number</label>
		<input type="text" class="form__input">
	</div>
	<div class="form__cards">
		<div class="form__addons">
			<div class="form__group" style="width: 100%;">
				<label class="form__label">Expiration Month/Year</label>
				<div class="form__addons">
					<input type="number" name="expiration_month" placeholder="MM" min="0" max="12" class="form__input">
					<p class="form__placeholder">
						/
					</p>
					<input type="number" name="expiration_year" placeholder="YYYY" min="0" max="9999" class="form__input">
				</div>
			</div>
			<div class="form__group">
				<label class="form__label">CVV</label>
				<input type="text" name="cvv" class="form__input">
			</div>
		</div>
		<div class="form__addons" style="width: 100%;">
			<div class="form__group">
				<label class="form__label">ZIP code</label>
				<input type="text" name="zipcode" class="form__input" style="min-width: 125px;">
			</div>
			<div class="form__group responsive-images" style="width: 100%;">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_mastercard.svg?t=1478027868" alt="Master Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_visa.svg?t=1478027868" alt="Visa Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_amex.svg?t=1478027868" alt="American Express Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_discover.svg?t=1479752394" alt="Discover Card icon">
			</div>
		</div>
	</div>
	<hr>
	<div class="form__addons form__addons--full">
		<div class="form__group">
			<label for="exp-month" class="form__label">Expiration Month/Year</label>
			<div class="form__addons">
				<div class="form__group">
					<input type="text" id="exp-month" name="exp-month" data-stripe="exp-month" placeholder="MM" value="" class="form__input">
				</div>
				<div class="form__placeholder">
					<p>/</p>
				</div>
				<div class="form__group">
					<input type="text" id="exp-year" name="exp-year" data-stripe="exp-year" placeholder="YYYY" value="" class="form__input">
				</div>
			</div>
		</div>
		<div class="form__group">
			<label for="cvc" class="form__label">CVV</label>
			<div class="form__group">
				<input type="text" id="cvc" name="cvc" autocomplete="off" value="" class="form__input">
			</div>
		</div>
		<div class="form__placeholder text--right">
			<p>
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_mastercard.svg?t=1478027868" alt="Master Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_visa.svg?t=1478027868" alt="Visa Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_amex.svg?t=1478027868" alt="American Express Card icon">
				<img src="https://rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/credit-cards_discover.svg?t=1479752394" alt="Discover Card icon" class="card-details__icon hidden-xs">
			</p>
		</div>
	</div>
</div>

<h2>Search</h2>
<p>The search pattern is a more advanced feature that has additional elments, such as: a search results container, an active and in-active states</p>
<div class="rc_example">
	<form class="form__addons form__search">
		<label for="search" class="form__label">Search</label>
		<div class="form__group">
			<input type="text" id="search" name="search" placeholder="Search terms..." class="form__input">
		</div>
		<div class="form__actions">
			<button class="button">
				<span>Search</span>
			</button>
		</div>
	</form>
	<form class="form__addons form__search form__search--active">
		<label for="search" class="form__label">Search</label>
		<div class="form__group">
			<input type="text" id="search" name="search" value="Abswkd" placeholder="Search terms..." class="form__input">
		</div>
		<div class="form__actions">
			<button class="button">
				<span>Search</span>
			</button>
		</div>
	</form>
	<br>
	<div class="form__search__no-results">
		<p>No search results. Try again.</p>
	</div>
</div>
{% endblock %}