{% extends 'base.html' %}

{% block body %}
	<h1>Form actions</h1>
	<div class="rc_example">
		<form>
			<fieldset>
				<div class="form__placeholder">
					<p>fieldset</p>
				</div>
			</fieldset>
			<div class="form__actions">
				<button class="button button--primary">Submit</button>
			</div>
		</form>
		<br>
		<form>
			<div class="form__placeholder">
				<p>.form__group</p>
			</div>
			<div class="form__actions">
				<button class="button">Cancel</button>
				<button class="button button--primary">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}