{% extends "base.html" %}
{% block title %}Settings Headers{% endblock %}
{% block body %}
<h1>Headers</h1>
<p>Utilized at the top of most pages and usually containing an H1. Several types are provided, each with a specific use-case.</p>
<div class="rc_example">
	{{ ui_element('headers/settings', {
		'title': "My page title"
	}) | safe }}
</div>
<h2>Settings</h2>
<p>Used on settings pages</p>
<div class="rc_example">
	{{ ui_element('headers/settings', {
		'title': "API tokens", 
		'buttons': [{
			'text': "Create an API token",
			'url': '/settings/integrations/api/create'
		}]
	}) | safe }}
	<hr>
	{{ ui_element('headers/settings', {
		'title': "Create discount code", 
		'description': "Add a discount code rule set for customers to use at checkout.", 
		'buttons': [{
			'text': "Cancel"
		}, {
			'text': "Save",
			'color': "primary"
		}]
	}) | safe }}
</div>

<h2>Signup</h2>
<p>Used only on signup pages. Perfect for full-width, minimum layouts</p>
<div class="rc_example">
	{{ ui_element('headers/signup', {
		'title': "H1 Settings header test",
		'description': "Instructional text that applies to the page."
	}) | safe }}
</div>

<h2>Devon's thorn</h2>
<p>Due to the way content collapses, this was previously unacheivable. With the move to flexbox, we can now have the Description appear beneath the Action Buttons on mobile devices.</p>
<div class="rc_example">
	<div class="force-mobile" style="max-width: 360px;">
		{{ ui_element('headers/settings', {
			'title': "Create discount code", 
			'description': "Add a discount code rule set for customers to use at checkout.", 
			'buttons': [{
				'text': "Cancel"
			}, {
				'text': "Save",
				'color': "primary"
			}]
		}) | safe }}
	</div>
</div>

{% endblock %}