{% extends "base.html" %}
{% block body %}
<h1>Grid system</h1>

<h2>Flex grid</h2>

<h3>Regular columns</h3>
<div class="flex__container flex__container--visible">
	<div class="flex__layout">
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
		<div class="flex__sm__1">1/12</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__2">2/12</div>
		<div class="flex__sm__2">2/12</div>
		<div class="flex__sm__2">2/12</div>
		<div class="flex__sm__2">2/12</div>
		<div class="flex__sm__2">2/12</div>
		<div class="flex__sm__2">2/12</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__8">8/12</div>
		<div class="flex__sm__4">4/12</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__4">4/12</div>
		<div class="flex__sm__4">4/12</div>
		<div class="flex__sm__4">4/12</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__6">6/12</div>
		<div class="flex__sm__6">6/12</div>
	</div>
</div>

<h3>Mix-and-match sizes</h3>
<div class="flex__container flex__container--visible">
	<div class="flex__layout">
		<div class="flex__xs__12 flex__sm__4 flex__lg__2">1</div>
		<div class="flex__xs__12 flex__sm__4 flex__lg__4">2</div>
		<div class="flex__xs__12 flex__sm__4 flex__lg__2">3</div>
		<div class="flex__xs__12 flex__sm__4 flex__lg__1">4</div>
		<div class="flex__xs__12 flex__sm__4 flex__lg__2">5</div>
		<div class="flex__xs__12 flex__sm__4 flex__lg__1">6</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__2 flex__md__1 flex__lg__6 flex__xl__3">a</div>
		<div class="flex__sm__4 flex__md__6 flex__lg__6 flex__xl__3">b</div>
		<div class="flex__sm__4 flex__md__3 flex__lg__6 flex__xl__3">c</div>
		<div class="flex__sm__2 flex__md__2 flex__lg__6 flex__xl__3">d</div>
	</div>
</div>
<h3>Auto width based on screen width</h3>
<div class="flex__container flex__container--seamless flex__container--visible">
	<div class="flex__layout">
		<div class="flex__xs">.flex__xs</div>
		<div class="flex__xs">.flex__xs</div>
		<div class="flex__xs">.flex__xs</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm">.flex__sm</div>
		<div class="flex__sm">.flex__sm</div>
		<div class="flex__sm">.flex__sm</div>
	</div>
	<div class="flex__layout">
		<div class="flex__md">.flex__md</div>
		<div class="flex__md">.flex__md</div>
		<div class="flex__md">.flex__md</div>
	</div>
	<div class="flex__layout">
		<div class="flex__lg">.flex__lg</div>
		<div class="flex__lg">.flex__lg</div>
		<div class="flex__lg">.flex__lg</div>
	</div>
	<div class="flex__layout">
		<div class="flex__xl">.flex__xl</div>
		<div class="flex__xl">.flex__xl</div>
		<div class="flex__xl">.flex__xl</div>
	</div>
</div>

<h2>Layouts</h2>
<div class="flex__container flex__container--visible">
	<div class="flex__layout">
		<div class="flex__full">.flex__full</div>
	</div>
	<br>
	<div class="flex__layout">
		<div class="flex__sidebar">.flex__sidebar</div>
		<div class="flex__content">.flex__content</div>
	</div>
</div>
<h3>Style Attributes</h3>
<h4>Reverse</h4>
<div class="flex__container flex__container--visible" flex-order="reverse">
	<div class="flex__layout">
		<div class="flex__sidebar">.flex__sidebar</div>
		<div class="flex__content">.flex__content</div>
	</div>
</div>
<h4>Seamless</h4>
<div class="flex__container" flex-style="seamless">
	<div class="flex__layout">
		<div class="flex__sidebar" style="background-color: #6bddc3; border-right: 1px solid #bef0e5;">.flex__sidebar seamless</div>
		<div class="flex__content" style="background-color: #6bddc3;">.flex__content seamless</div>
	</div>
</div>
<h4>Static</h4>
<div class="flex__container flex__container--visible" flex-style="static">
	<div class="flex__layout">
		<div class="flex__full">.flex__full static</div>
	</div>
	<br>
	<div class="flex__layout">
		<div class="flex__sidebar">.flex__sidebar static</div>
		<div class="flex__content">.flex__content static</div>
	</div>
</div>
{% endblock %}