{% extends "base.html" %}
{% block body %}
<h1>Layouts</h1>

<h2>Flex grid</h2>
<div class="flex__container flex__container--visible">
	<div class="flex__layout">
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__2">.flex__sm__2</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__3">.flex__sm__3</div>
		<div class="flex__sm__3">.flex__sm__3</div>
		<div class="flex__sm__3">.flex__sm__3</div>
		<div class="flex__sm__3">.flex__sm__3</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__4">.flex__sm__4</div>
		<div class="flex__sm__4">.flex__sm__4</div>
		<div class="flex__sm__4">.flex__sm__4</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__5">.flex__sm__5</div>
		<div class="flex__sm__5">.flex__sm__5</div>
		<div class="flex__sm__2">.flex__sm__2</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__6">.flex__sm__6</div>
		<div class="flex__sm__6">.flex__sm__6</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__7">.flex__sm__7</div>
		<div class="flex__sm__5">.flex__sm__5</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__2">.flex__sm__2</div>
		<div class="flex__sm__8">.flex__sm__8</div>
		<div class="flex__sm__2">.flex__sm__2</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__9">.flex__sm__9</div>
		<div class="flex__sm__1">.flex__sm__1</div>
		<div class="flex__sm__1">.flex__sm__1</div>
	</div>
</div>
<div class="flex__container flex__container--visible">
	<div class="flex__layout">
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
		<div class="flex__sm__4 flex__lg__2">.flex__lg__2</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm__6 flex__lg__3">.flex__lg__3</div>
		<div class="flex__sm__6 flex__lg__3">.flex__lg__3</div>
		<div class="flex__sm__6 flex__lg__3">.flex__lg__3</div>
		<div class="flex__sm__6 flex__lg__3">.flex__lg__3</div>
	</div>
</div>
<div class="flex__container flex__container--seamless flex__container--visible">
	<div class="flex__layout">
		<div class="flex__xs">.flex__xs</div>
		<div class="flex__xs">.flex__xs</div>
		<div class="flex__xs">.flex__xs</div>
	</div>
	<div class="flex__layout">
		<div class="flex__sm">.flex__sm</div>
		<div class="flex__sm">.flex__sm</div>
		<div class="flex__sm">.flex__sm</div>
	</div>
	<div class="flex__layout">
		<div class="flex__md">.flex__md</div>
		<div class="flex__md">.flex__md</div>
		<div class="flex__md">.flex__md</div>
	</div>
	<div class="flex__layout">
		<div class="flex__lg">.flex__lg</div>
		<div class="flex__lg">.flex__lg</div>
		<div class="flex__lg">.flex__lg</div>
	</div>
	<div class="flex__layout">
		<div class="flex__xl">.flex__xl</div>
		<div class="flex__xl">.flex__xl</div>
		<div class="flex__xl">.flex__xl</div>
	</div>
</div>

{% endblock %}