{% extends "base.html" %}
{% block title %}Modals{% endblock %}
{% block body %}
<h1>Modals</h1>

<style>
	.rc_example > .rc_modal__container {
		position: relative !important;
		opacity: 1 !important;
		display: block !important;
		background-color: rgba(0, 0, 0, .7);
		z-index: 10;
	}
</style>

<div class="rc_example">
	<div class="rc_modal__container rc_fade rc_show">
		<div class="rc_modal">
			<div class="rc_modal__content">
				<div class="rc_modal__header">
					<h3 class="rc_modal__title">Modal title</h3>
					<button type="button" class="rc_modal__close" data-dismiss="rc_modal"></button>
				</div>
				<div class="rc_modal__body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="rc_modal__footer">
					<button type="button" class="button button--large" data-dismiss="rc_modal">Cancel</button>
					<button type="button" class="button button--large button--primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<button data-toggle="rc_modal" data-target="#myModal" class="button">Launch Modal</button>
</div>

<div id="myModal" class="rc_modal__container rc_fade">
	<div class="rc_modal">
		<div class="rc_modal__content">
			<div class="rc_modal__header">
				<h1 class="rc_modal__title">Modal title</h1>
				<button type="button" class="rc_modal__close" data-dismiss="rc_modal"></button>
			</div>
			<div class="rc_modal__body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="rc_modal__footer">
				<button type="button" class="button button--large" data-dismiss="rc_modal">Cancel</button>
				<button type="button" class="button button--large button--primary">Save</button>
			</div>
		</div>
	</div>
</div>

<br>
<p> </p>
<br>
<form>
	<fieldset>
		<div class="form__group">
			<label class="form__label">Type of product</label>
			<select class="form__select">
				<option>One time &amp; subscription</option>
				<option>Subscription only</option>
			</select>
		</div>
		<div class="form__group">
			<label class="form__label">Ruleset name</label>
			<input type="text" class="form__input" placeholder="My subscription" value="My subscription">
		</div>
	</fieldset>
	<hr>
	<fieldset>
		<legend>
			<h4>Products included</h4>
			<p class="rc_text--info">Save ruleset to preview subscriptions.</p>
		</legend>
		<table class="rc_table" table-borderless="true">
			<tbody>
				<tr>
					<td class="rc_text--base">
						Energy Drink of the Month (1 Month) 
						&nbsp;<a href="#"><span class="fa fa-external-link-square rc_text--base"></span></a>
						<p class="rc_text--info admin-recharge">
							<a href="#">Sync product</a> &nbsp;|&nbsp; 
							<a href="#">Sync non-threaded</a> &nbsp;|&nbsp; 
							<a href="#">Admin ID: 111155996</a> &nbsp;|&nbsp; 
							<a href="#">go to 535049155...</a>
						</p>
					</td>
					<td>
						<div class="rc_dropdown rc_dropdown--settings">
							<button class="rc_button rc_button--link rc_dropdown__toggle rc_button--fa-gear" id="dropdownMenuButton" data-toggle="dropdown"></button>
							<div class="rc_dropdown__menu">
								<a href="/link-1" class="rc_item">Link 1</a>
								<a href="/link-2" class="rc_item">Link 2</a>
								<a href="/link-3" class="rc_item">Link 3</a>
							</div>
						</div>
						<button class="rc_button rc_button--link rc_button--fa-trash" onclick="console.log('delete');"></button>
					</td>
				</tr>
				<tr>
					<td class="rc_text--base">
						Energy Drink of the Month (1 Month) 
						&nbsp;<a href="#" class="fa fa-external-link-square rc_text--base"></a>
						<p class="rc_text--info admin-recharge">
							<a href="#">Sync product</a> &nbsp;|&nbsp; <a href="#">Sync non-threaded</a> &nbsp;|&nbsp; <a href="#">Admin ID: 111155996</a> &nbsp;|&nbsp; <a href="#">go to 535049155...</a>
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="rc_text--base">
						<button class="rc_button rc_button--primary rc_button--link rc_button--fa-plus-circle">
							Add products
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<hr>
	<fieldset>
		<legend>
			<h4>Settings</h4>
		</legend>
		<label class="form__label">Charge customer and ship product every</label>
		<div class="form__addons form__addons--auto">
			<div class="form__group">
				<input type="checkbox" id="" name="" checked="" class="form__checkbox">
				<label for="" class="form__label"></label>
			</div>
			<div class="form__group">
				<input type="number" value="1" class="form__number">
			</div>
			<label class="form__label">%</label>
		</div>
		<label class="form__label">Charge customer and ship product every</label>
		<div class="form__addons">
			<div class="form__group">
				<input type="number" value="1" input-width="sm" class="form__number">
			</div>
			<div class="form__group">
				<select class="form__select">
					<option>month</option>
					<option>week</option>
					<option>days</option>
				</select>
			</div>
			<button class="rc_tooltip__button" data-content="<a href='#'>Go to setup instructions...</a>"></button>
		</div>
		<ul class="form__list">
			<li class="form__list__item">
				<input type="number" value="2" class="form__number" input-width="sm">
				<p class="form__placeholder">month</p>
				<button class="rc_button rc_button--link rc_button--fa-trash" onclick="console.log('delete');"></button>
			</li>
			<li class="form__list__item">
				<input type="number" value="3" class="form__number" input-width="sm">
				<p class="form__placeholder">month</p>
				<button class="rc_button rc_button--link rc_button--fa-trash" onclick="console.log('delete');"></button>
			</li>
			<li class="form__list__item">
				<input type="number" value="4" class="form__number" input-width="sm">
				<p class="form__placeholder">month</p>
				<button class="rc_button rc_button--link rc_button--fa-trash" onclick="console.log('delete');"></button>
			</li>
		</ul>
		<br>
		<button class="rc_button rc_button--primary rc_button--link rc_button--fa-plus-circle">
			Add a frequency
		</button>
	</fieldset>
	<hr>
	<fieldset>
		<legend>
			<h4>Advanced settings</h4>
		</legend>

	</fieldset>
</form>

{% endblock %}