{% extends "base.html" %}
{% block body %}
<h1>Navbars</h1>
<p>Under active development</p>
<div class="rc_example">

	<div class="navbar">
		<a href="#" class="navbar__logo">
			ReCharge
		</a>
		<button class="navbar__toggle" data-toggle="collapse" data-target="#navbar__menu"></button>
		<div id="navbar__menu" class="navbar__collapse collapse"> <!-- collapse -->
			<ul class="navbar__nav">
				<li><a href="#">Orders</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#" class="active">Rulesets</a></li>
				<li><a href="#">Reports</a></li>
			</ul>
			{{ ui_element('dynamic/dropdown', {
				'title': "Store settings",
				'alignment': "right",
				'icon': "wrench",
				'links': [{
						'title': 'General settings'
					}, {
						'title': 'Discounts',
					}, {
						'title': 'Subscription prices',
						'admin': true,
					}, {
						'title': 'Taxes',
					}, {
						'title': 'Shipping',
					}, {
						'title': 'Shipping zones',
						'admin': true,
					}, {
						'title': 'Integrations',
					}, {
						'title': 'Customer portal',
					}, {
						'title': 'Checkout',
					}, {
						'title': 'Notifications',
					}, {
						'title': 'Subscription widget',
					}, {
						'title': 'Refer a friend',
					}]
			}) | safe }}
			{{ ui_element('dynamic/dropdown', {
				'title': "Account settings",
				'alignment': "right",
				'icon': "user",
				'links': [{
						'title': 'Support center'
					}, {
						'title': 'My account',
					}]
			}) | safe }}
		</div>
	</div>
	<div class="navbar navbar--standalone">
		<div class="navbar__header">
			<a href="#" class="navbar__logo">
				ReCharge
			</a>
			<span class="navbar__title">
				Partners
			</span>
			<button class="navbar__toggle" data-toggle="collapse" data-target="#navbar__menu__partners"></button>
		</div>
		<div id="navbar__menu__partners" class="navbar__collapse collapse">
			<ul class="navbar__nav navbar__nav--right">
				<li>
					<a href="#">Sign in</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="navbar navbar--standalone">
		<div class="navbar__header">
			<a href="#" class="navbar__logo">
				ReCharge
			</a>
			<span class="navbar__title">
				API
			</span>
		</div>
	</div>
	<div class="navbar navbar--standalone">
		<div class="navbar__header">
			<a href="#" class="navbar__logo">
				ReCharge
			</a>
			<span class="navbar__title">
				Migrations
			</span>
		</div>
	</div>
</div>
{% endblock %}