{% extends 'base.html' %}
{% block body %}
<h1>Notifications</h1>
<p>While notifications may potentially be phased out, they are currently used prominently as action confirmations.</p>

<h2>Standard notifications</h2>
<div class="rc_example">
	<button id="triggerMessage">Trigger Message</button>
	<button id="triggerInfo">Trigger Info</button>
	<button id="triggerSuccess">Trigger Success</button>
	<button id="triggerError">Trigger Error</button>
	<button id="triggerStatic">Trigger Static</button>
</div>

<h3>On reload</h3>
<p>These notifications will only display after a reload.</p>
<div class="rc_example">
	<button id="reloadMessage">Reload Message</button>
	<button id="reloadInfo">Reload Info</button>
	<button id="reloadSuccess">Reload Success</button>
	<button id="reloadError">Reload Error</button>
	<button id="reloadStatic">Reload Static</button>
</div>

<h3>Review banner</h3>
<div class="rc_example">
<div id="review_bar" class="rc_notifications rc_notifications--review">
	<div class="rc_notifications__content" id="rating__unrated">
		<p>How would you rate our app?</p>
		<ul class="rating unrated">
			<li class="rating__star" data-rating="1"></li>
			<li class="rating__star" data-rating="2"></li>
			<li class="rating__star" data-rating="3"></li>
			<li class="rating__star" data-rating="4"></li>
			<li class="rating__star" data-rating="5"></li>
		</ul>
	</div>
	<div class="rc_notifications__content" id="rating__rated" style="display: none;">
		<p><span class="rating__negative">Thanks for the feedback!</span><span class="rating__positive" style="display: none;"> Could you leave this review on Shopify? It's a huge motivator for us.</span></p> 
		<a href="//bit.ly/rechargeappreiew" target="_blank" class="button rating__positive" id="write-a-review" style="display: none;">Leave review</a>
	</div>
</div>
<script>
	$(function() {
		// Show review bar if cookie 'hide_review_bar' isn't set -- This is a fix to resolve the 4-star review allowing the banner to re-appear
		if (!getCookie('hide_review_bar')) {
			$('#review_bar').show();
		}
		// Control the hovering of the stars
		$('.unrated .rating__star').hover(function() {
			// Hover the the current star and all preceeding stars
			var rating = $(this).data('rating');
			for (i = 0; i < rating; i++) {
				var star = $('.unrated .rating__star').eq(i);
				star.addClass('active');
			}
		}, function() {
			// Reset the hovered-on stars each time a user hovers off one
			var rating = $(this).data('rating');
			$('.unrated .rating__star').removeClass('active');
		});
		// Control the clicking of a star
		$('.rating').on('click', '.rating__star', function(e) {
			e.preventDefault();
			// Once a rating is capture, prevent additional clicks
			$('.rating').removeClass('unrated').addClass('rated');
			var rating = $(this).data('rating');
			for (i = 0; i < rating; i++) {
				// Highlight the current star and all preceeding
				var star = $('.rating .rating__star').eq(i);
				star.addClass('active');
			}
			var data = {
				'store_id': 14920,
				// 'review_status': 'asked_for_review',
				'review_rating': rating
			}
			if (rating == 5) {
				// If the rating is 5, show button to review and update review_status with asked_for_review
				$('.rating__negative').hide()
				$('.rating__positive').show();
			} else {
				// If the rating is 3 or below, do not ask for review, update review_status with dont_ask
				if (rating <= 2) {
					data['review_status'] = 'dont_ask';
				} else {
					// Rating is 3 or 4. Disable the review request for 60 days
					setCookie('hide_review_bar', 'true', 60);
				}
				// Automatically hide slider
				setTimeout(function() {
					$('.rc_notifications--review').slideToggle();
				}, 6000);
			}
			// Thank store owner for review
			$('#rating__unrated').fadeOut(300);
			$('#rating__rated').animate({'opacity': 1}, 400);
			// Send update to review status
			var url = '/store/review/update';
			$.ajax({
				type: 'POST',
				url: url,
				data: data
			});
		});

		$('.rc_notifications--review').on('click', '.rc_notifications__close', function(e) {
			e.preventDefault();
			// Update review_status to 'dont_ask'
			var data = {
				'store_id': 14920,
				'review_status': 'dont_ask'
			}
			var url = '/store/review/update';
			$.ajax({
				type: 'POST',
				url: url,
				data: data
			});
		})
        // Customer has agreed to leave a review
        $(document).on('click', '#write-a-review', function() {
            // Automatically hide slider
            setTimeout(function() {
                $('.rc_notifications--review').slideToggle();
            }, 10000);
        });			
        // Log clicking anywhere in the bar
		$(document).on('click', '.rc_notifications--review', function() {
            // Update review_status to 'dont_ask'
            console.log('something worked');
            
            var data = {
                'store_id': 14920
            }
            var url = '/store/review/click_bar';
            $.ajax({
                type: 'POST',
                url: url,
                data: data
            });
            
		});
	});
</script>
</div>

<script>
	$(function() {
		function reloadPage() {
			window.location.reload();
		}
		// Messages
		var triggerMessage = new rcNotification({
			message: "This is a notification message"
		});
		var triggerInfo = new rcNotification({
			message: "This is an info message",
			type: 'info'
		});
		var triggerSuccess = new rcNotification({
			message: "This is a success message",
			type: 'success'
		});
		var triggerError = new rcNotification({
			message: "This is an error message",
			type: 'error'
		});
		var triggerStatic = new rcNotification({
			message: "This message wont close unless close button is clicked.",
			type: 'warning',
			static: true
		});
		// Triggered
		$(document).on('click', '#triggerMessage', function() {
			triggerMessage.show();
		});
		$(document).on('click', '#triggerInfo', function() {
			triggerInfo.show();
		});
		$(document).on('click', '#triggerSuccess', function() {
			triggerSuccess.show();
		});
		$(document).on('click', '#triggerError', function() {
			triggerError.show();
		});
		$(document).on('click', '#triggerStatic', function() {
			triggerStatic.show();
		});
		// On reload
		$(document).on('click', '#reloadMessage', function() {
			triggerMessage.reload();
			reloadPage();
		});
		$(document).on('click', '#reloadInfo', function() {
			triggerInfo.reload();
			reloadPage();
		});
		$(document).on('click', '#reloadSuccess', function() {
			triggerSuccess.reload();
			reloadPage();
		});
		$(document).on('click', '#reloadError', function() {
			triggerError.reload();
			reloadPage();
		});
		$(document).on('click', '#reloadStatic', function() {
			triggerStatic.reload();
			reloadPage();
		});
	});
</script>
{% endblock %}