{% extends 'base.html' %}

{% block body %}
<h1>Pagination</h1>
<div class="rc_example">
	<div class="rc_pagination__container">
		<div class="rc_pagination">
			<span class="rc_pagination__page">1</span>
			<a href="#" class="rc_pagination__page">2</a>
			<a href="#" class="rc_pagination__page">3</a>
			<a href="#" class="rc_pagination__page">4</a>
			<a href="#" class="rc_pagination__page">...</a>
			<a href="#" class="rc_pagination__page">9</a>
		</div>
	</div>
	<div class="rc_pagination__container">
		<div class="rc_pagination--center">
			<span class="rc_pagination__page">1</span>
			<a href="#" class="rc_pagination__page">2</a>
			<a href="#" class="rc_pagination__page">3</a>
			<a href="#" class="rc_pagination__page">4</a>
			<a href="#" class="rc_pagination__page">...</a>
			<a href="#" class="rc_pagination__page">9</a>
		</div>
	</div>
	<div class="rc_pagination__container">
		<div class="rc_pagination--left">
			<span class="rc_pagination__page">1</span>
			<a href="#" class="rc_pagination__page">2</a>
			<a href="#" class="rc_pagination__page">3</a>
			<a href="#" class="rc_pagination__page">4</a>
			<a href="#" class="rc_pagination__page">...</a>
			<a href="#" class="rc_pagination__page">9</a>
		</div>
	</div>
</div>
{% endblock %}