{% extends 'base.html' %}
{% block body %}
<h1>Progress bar</h1>
<p>This navigation tool serves as a way of indicating to store owners their current progress through the setup flow. It will remain active until completed.</p>
<div class="rc_example">
<div class="rc_progress">
    <a href="#" class="rc_item">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item">
        Finish
    </span>
</div>
<div class="rc_progress rc_progress--active">
    <a href="#" class="rc_item">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item">
        Finish
    </span>
</div>
<div class="rc_progress rc_progress--active">
    <a href="#" class="rc_item rc_active">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item">
        Finish
    </span>
</div>
<div class="rc_progress rc_progress--active">
    <a href="#" class="rc_item rc_complete">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item rc_active">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item">
        Finish
    </span>
</div>
<div class="rc_progress rc_progress--active">
    <a href="#" class="rc_item rc_complete">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item rc_complete">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item rc_active">
        Finish
    </span>
</div>
<div class="rc_progress">
    <a href="#" class="rc_item rc_complete">
        <span class="hidden--mobile">Set up</span> subscription
    </a>
    <a href="#" class="rc_item rc_complete">
        <span class="hidden--mobile">Set up</span> payments
    </a>
    <span class="rc_item">
        Finish
    </span>
</div>
</div>
{% endblock %}