{% extends "base.html" %}
{% block title %}Radios{% endblock %}
{% block body %}
<h1>Radios</h1>
<p>Radios allow the single-selection from an small array of options. Useful if multiple options need to be immediatly visible, unlike a dropdown select.</p>
<div class="rc_example">
	{{ ui_element("form/radio", {'label': 'Radio 1', 'id': 'radio_1', 'checked': 'true'}) | safe }}
	{{ ui_element("form/radio", {'label': 'Radio 2', 'id': 'radio_2'}) | safe }}
	{{ ui_element("form/radio", {'label': 'Radio 3', 'id': 'radio_3', 'disabled': 'true'}) | safe }}
	{{ ui_element("form/radio", {'label': 'Radio 4', 'id': 'radio_4', 'error': 'true', 'checked': 'true'}) | safe }}
	{{ ui_element("form/radio", {'label': 'Radio 5', 'id': 'radio_5', 'checked': 'true', 'disabled': 'true'}) | safe }}
</div>

<h2>Using Radios</h2>
<h3>Label triggering</h3>
<p>You can click on the label to activate the radio option, but the <code>id</code> and <code>name</code> attributes must be used in conjunction with eachother.</p>
<div class="rc_example">
	{{ ui_element("form/field_radio", {'label': 'Group 1', 'id': 'radio_group_1'}) | safe }}
	{{ ui_element("form/field_radio", {'label': 'Group 2', 'id': 'radio_group_2'}) | safe }}
</div>

<h3>Grouping radios</h3>
<p>To make only one radio option selectable at any given time, they must all have the same <code>name</code> attribute.</p>
<div class="rc_example">
	<div class="form__group">
		{{ ui_element("form/field_radio", {'name': 'alignment', 'label': 'Left', 'id': 'alignment_left', 'checked': 'true'}) | safe }}
		{{ ui_element("form/field_radio", {'name': 'alignment', 'label': 'Center', 'id': 'alignment_center'}) | safe }}
		{{ ui_element("form/field_radio", {'name': 'alignment', 'label': 'Right', 'id': 'alignment_right'}) | safe }}
	</div>
</div>

<h3>Radio groups</h3>
<p>Radios are best visualized when bundled up within a <code>.form__group</code> element with several other options.</p>
<div class="rc_example">
	<div class="form__group">
		{{ ui_element("form/radio", {'name': 'case_type', 'label': 'lowercase', 'id': 'case_type_case'}) | safe }}
		{{ ui_element("form/radio", {'name': 'case_type', 'label': 'UPPERCASE', 'id': 'case_type_uppercase'}) | safe }}
		{{ ui_element("form/radio", {'name': 'case_type', 'label': 'CamelCase', 'id': 'case_type_camelcase', 'checked': 'true'}) | safe }}
	</div>
</div>
{% endblock %}