{% extends "base.html" %}
{% block body %}
<h1>Sidebars</h1>
<div class="rc_example">
	<div class="flex__container" style="margin-left: -20px; margin-right: -20px;">
		<div class="flex__layout">
			<div class="flex__sidebar">
				<div class="sidebar">
					<ul class="sidebar__menu">
						<li class="menu__item">
							<a href="#">Payments</a>
						</li>
						<li class="menu__item">
							<a href="#">Apps</a>
						</li>
						<li class="menu__item">
							<a href="#">Partner Badges</a>
						</li>
						<li class="menu__item">
							<a href="#" class="active">Account</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="flex__content">
				{{ ui_element("headers/settings", {'title': "Welcome James Erck"}) | safe }}
				<div class="flex__container" flex-static="true" flex-seamless="true" flex-max="md" flex-anchor="left">
					<div class="flex__layout">
						<div class="flex__full">
							{{ ui_element('headers/subtitle', {
								'title': "Partner details",
								'size': "3",
								'links': [{
									'icon': "pencil",
									'color': "primary",
								}]
							}) | safe }}
							<br>
							{{ ui_element('headers/subtitle', {
								'title': "Email",
								'size': "5",
								'text': "james.erck@abovemarket.com"
							}) | safe }}
							<hr>
							{{ ui_element('headers/subtitle', {
								'title': "Partner details",
								'size': "5",
								'links': [{
									'text': "http://shopifysubscriptions.com/affiliate/4",
									'color': "primary",
								}]
							}) | safe }}
							<hr>
							{{ ui_element('headers/subtitle', {
								'title': "Paypal",
								'size': "5",
								'links': [{
									'text': "paypal@abovemarket.com",
									'color': "primary",
								}]
							}) | safe }}
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}