{% extends 'base.html' %}
{% block body %}
<h1>Switches</h1>
<div class="rc_example">
	<label class="rc_switch rc_switch--small">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off"></span>
			<span class="rc_switch__on"></span>
		</div>
	</label>
	<br><br>
	<label class="rc_switch">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off">Off</span>
			<span class="rc_switch__on">On</span>
		</div>
	</label>
	<br><br>
	<label class="rc_switch rc_switch--large">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off">Large Off</span>
			<span class="rc_switch__on">Large On</span>
		</div>
	</label>
</div>
<h2>Fading switches</h2>
<p>Adding the class <code>.rc_switch--fade</code> to the switch will add an "off" coloring to the button</p>
<div class="rc_example">
	<label class="rc_switch rc_switch--small rc_switch--fade">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off"></span>
			<span class="rc_switch__on"></span>
		</div>
	</label>
	<br><br>
	<label class="rc_switch rc_switch--fade">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off">Off</span>
			<span class="rc_switch__on">On</span>
		</div>
	</label>
	<br><br>
	<label class="rc_switch rc_switch--large rc_switch--fade">
		<div class="rc_switch__inner">
			<input type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off">Large Off</span>
			<span class="rc_switch__on">Large On</span>
		</div>
	</label>
</div>
<h2 id="switch-labeling">Labeling</h2>
<p>Switches pair well with inline labels</p>
<div class="rc_example">
	<label class="rc_switch rc_switch--small rc_switch--fade">
		<div class="rc_switch__inner">
			<input id="my_switch_3" type="checkbox" class="rc_switch__input">
			<span class="rc_switch__button"></span>
			<span class="rc_switch__off"></span>
			<span class="rc_switch__on"></span>
		</div>
	</label>
	<label for="my_switch_3">Notification is disabled</label>
	<br><br>
</div>
{% endblock %}