{% extends "base.html" %}
{% block body %}
<h1>Tabs</h1>
<p>Tabs are another navigation tool, but is used as a wrapper for other layouts</p>
<div class="rc_example">
	<div class="rc_tabs rc_tabs--cards">
		<div class="rc_tabs__header">
			<a href="#" class="rc_tabs__header__item rc_active">Link 1</a>
			<a href="#" class="rc_tabs__header__item">Link 2</a>
			<a href="#" class="admin-recharge pull-right">
				Link 3
			</a>
		</div>
		<div class="rc_tabs__body">
			<div class="flex__container">
				<div class="flex__layout">
					<h3>Tab content</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}