{% extends "base.html" %}
{% block body %}
<h1>Tabs</h1>
<p>Tabs are another navigation tool, but is used as a wrapper for other layouts</p>
<div class="rc_example">
	<div class="rc_tabs rc_tabs--cards">
		<div class="rc_tabs__header">
			<a href="#" class="rc_tabs__header__item rc_active">All integrations</a>
			<a href="#" class="rc_tabs__header__item">Enabled integrations</a>
			<a href="#" class="admin-recharge pull-right">
				Developers...
			</a>
		</div>
		<div class="rc_tabs__body">
			<div class="flex__container">
				<div class="flex__layout">
<div class="rc_card__container">
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/google-analytics"><img src="http://rechargepayments.com/assets/images/integrations/logo_google-analytics.png" width="80" height="80" alt="Google Analytics logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Google Analytics</strong>
		</div>
		<div class="rc_card__body">
			<p>Get the data you need to make intelligent marketing and business decisions.</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/google-analytics" class="button button--magenta button--block">Get</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/zapiet"><img src="http://rechargepayments.com/assets/images/integrations/logo_zapiet.png" width="80" height="80" alt="Zapiet logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Zapiet</strong>
		</div>
		<div class="rc_card__body">
			<p>n/a</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/zapiet" class="button button--magenta button--block">Get</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/carthook"><img src="http://rechargepayments.com/assets/images/integrations/logo_carthook.png" width="80" height="80" alt="CartHook logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">CartHook</strong>
		</div>
		<div class="rc_card__body">
			<p>Sophisticated cart recovery software to turn abandoned customers into paying customers.</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/carthook" class="button button--magenta button--block">Get</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/referralcandy"><img src="http://rechargepayments.com/assets/images/integrations/logo_referralcandy.png" width="80" height="80" alt="Google Analytics logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">ReferralCandy</strong>
		</div>
		<div class="rc_card__body">
			<p>ReferralCandy is an ecommerce store plugin that helps you get more word of mouth sales.</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/referralcandy" class="button button--block" disabled>Get</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/refersion"><img src="http://rechargepayments.com/assets/images/integrations/logo_refersion.png" width="80" height="80" alt="Refersion logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Refersion</strong>
		</div>
		<div class="rc_card__body">
			<p>Create, manage and grow your own affiliate program.
</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/refersion" class="button button--magenta button--block">Get</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/sweet-tooth"><img src="http://rechargepayments.com/assets/images/integrations/logo_sweet-tooth.png" width="80" height="80" alt="Sweet Tooth logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">Sweet Tooth</strong>
		</div>
		<div class="rc_card__body">
			<p>Launch a rewards program to engage your best customers.</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/sweet-tooth" class="button button--magenta button--block">Request</a>
		</div>
	</div>
	<div class="rc_card">
		<div class="rc_card__media">
			<a href="/integration/one-click-upsell"><img src="http://rechargepayments.com/assets/images/integrations/oneclickupsell.png" width="80" height="80" alt="One-Click Upsell logo" class="rc_card__media__image"></a>
			<strong class="rc_card__title">One-Click Upsell</strong>
		</div>
		<div class="rc_card__body">
			<p>Offer post-purchase upsells when a customer purchases a ReCharge subscription product.</p>
		</div>
		<div class="rc_card__footer">
			<a href="/integration/one-click-upsell" class="button button--magenta button--block">Get</a>
		</div>
	</div>
</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}