{% extends 'base.html' %}
{% block body %}
<h1>Tags</h1>
<div class="rc_example">
	<div class="rc_tag">Default tag</div>
	<div class="rc_tag rc_tag--magenta"><strong>BETA</strong></div>
	<div class="rc_tag rc_tag--cyan"><strong class="rc_text--small">MADE BY</strong> Re<strong>Charge</strong></div>
</div>

<h2>Reversed tags</h2>
<div class="rc_example">
	<div class="rc_tag rc_tag--reverse">Default tag reversed</div>
	<div class="rc_tag rc_tag--magenta rc_tag--reverse"><strong>BETA tag reversed</strong></div>
</div>
{% endblock %}