{% extends 'base.html' %}

{% block body %}
<h1>Text</h1>

<h2>Formatted styles</h2>
<p>Useful classes used to format text throughout the app.</p>
<div class="rc_example">
	<code>.rc_text--info</code>
	<p class="rc_text--info">Info text - Useful for section descriptions, or as sub-text beneath labels</p>
</div>

<h2>Classes</h2>
<p>Most patterns have pre-determined font sizes and weights, but these class-overrides can be used in special situations, or until a full pattern is created.</p>

<h3>Font-family &amp; weight</h3>
<div class="rc_example">
	<code>.rc_font--400</code><br>
	<code>.rc_font--regular</code>
	<p><strong>You can use the helper class: <span class="rc_font--400">.rc_font--400</span> or <span class="rc_font--regular">.rc_font--regular</span>, to force the regular font-weight.</strong></p>
	<br>
	<code>.rc_font--500</code><br>
	<code>.rc_font--medium</code>
	<p>You can use the helper class: <span class="rc_font--500">.rc_font--500</span> or <span class="rc_font--medium">.rc_font--medium</span>, to force the medium font-weight.</p>
	<br>
	<code>.rc_font--600</code><br>
	<code>.rc_font--semibold</code>
	<p>You can use the helper class: <span class="rc_font--600">.rc_font--600</span> or <span class="rc_font--semibold">.rc_font--bold</span>, to force the semibold font-weight.</p>
	<br>
	<code>.rc_font--700</code><br>
	<code>.rc_font--bold</code>
	<p>You can use the helper class: <span class="rc_font--700">.rc_font--700</span> or <span class="rc_font--bold">.rc_font--bolder</span>, to force the bold font-weight.</p>
</div>

<h3>Font-size</h3>
<div class="rc_example">
	<code>.rc_text--large</code>
	<p class="rc_text--large">Curabitur blandit tempus porttitor.</p>
	<br>
	<code>.rc_text--base</code>
	<p class="rc_text--base">Donec id elit non mi porta gravida at eget metus.</p>
	<br>
	<code>.rc_text--small</code>
	<p class="rc_text--small">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	<br>
	<code>.rc_h1</code><br>
	<span class="rc_h1">Tellus Dolor Ipsum</span>
	<br><br>
	<code>.rc_h2</code><br>
	<span class="rc_h2">Nibh Inceptos Elit</span>
	<br><br>
	<code>.rc_h3</code><br>
	<span class="rc_h3">Euismod Ultricies Tortor</span>
	<br><br>
	<code>.rc_h4</code><br>
	<span class="rc_h4">Ullamcorper Cursus Fusce</span>
	<br><br>
	<code>.rc_h5</code><br>
	<span class="rc_h5">Adipiscing Sit Vehicula</span>
</div>

{% endblock %}