{% extends 'base.html' %}
{% block body %}
<h1>Tooltips</h1>
<p>Tooltips now automatically align and resize according to available screen dimensions.</p>
<p>Under active development</p>
<div class="rc_example" style="margin-bottom: 400px;">
	<button style="left: 0%" class="rc_popover__button" data-toggle="popover" data-content="Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 5%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="<p>Aenean lacinia bibendum nulla sed consectetur.</p><p><a href='#'>Link to docs...</a></p>"><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 10%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Curabitur blandit tempus porttitor."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 15%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Tristique Nullam Mattis Cursus Ullamcorper"><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 20%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Lorem Sit Pellentesque Mollis Malesuada"><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 25%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Maecenas sed diam eget risus varius blandit sit amet non magna."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 30%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Morbi leo risus, porta ac consectetur ac, vestibulum at eros."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 35%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 40%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 45%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Praesent commodo cursus magna, vel scelerisque nisl consectetur et."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 50%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Donec sed odio dui."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 55%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Morbi leo risus, porta ac consectetur ac, vestibulum at eros."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 60%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Donec ullamcorper nulla non metus auctor fringilla."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 65%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 70%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Cras mattis consectetur purus sit amet fermentum."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 75%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Nullam quis risus eget urna mollis ornare vel eu leo."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 80%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Cras justo odio, dapibus ac facilisis in, egestas eget quam."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 85%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Curabitur blandit tempus porttitor."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 90%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Donec ullamcorper nulla non metus auctor fringilla."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 95%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Morbi leo risus, porta ac consectetur ac, vestibulum at eros."><span class="fa fa-info-circle"></span></button><br>

	<button style="left: 100%" class="rc_popover__button" data-toggle="popover" title="Popover title" data-content="Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."><span class="fa fa-info-circle"></span></button>
</div>
<style>
	.rc_example .rc_popover__button {
		position: relative;
		margin-bottom: 10px;
	}
</style>
<script>
	function isWideEnough(availableSpace, elementWidth) {
		return (availableSpace - elementWidth) >= 0 && (availableSpace - elementWidth);
	}
	function optimizeAlignment(rightSpacing, leftSpacing, popupWidth, iconWidth) {
		if (isWideEnough(rightSpacing, popupWidth)) {
			return "right";
		} else if (isWideEnough(leftSpacing, popupWidth)) {
			return "left";
		} else if (isWideEnough(leftSpacing - iconWidth, popupWidth / 2) && isWideEnough(rightSpacing - iconWidth, popupWidth / 2)) {
			return "bottom";
		}
		return false;
	}
	var options = {
		placement: function(context, source) {
			var icon = $(source).position(),
				iconLeft = icon.left,
				iconWidth = $(source).outerWidth() / 2,
				winWidth = $(window).width(),
				leftSpacing = iconLeft + iconWidth,
				rightSpacing = winWidth - (iconWidth + iconLeft),
				popupWidth = 350;
			if (popupWidth > winWidth) {
				popupWidth = winWidth;
			}
			if (isWideEnough(rightSpacing, popupWidth)) {
				return "right";
			} else if (isWideEnough(leftSpacing, popupWidth)) {
				return "left";
			} else {
				var characterLength = $(source).data('content').length,
					calculatePopupWidth = (characterLength * 9) + (25 * 2), // (? * 9 = average character width) + (25 * 2 = horizontal padding)
					iconWidth = iconWidth / 2,
					reductionAmount = 30;
				if (calculatePopupWidth >= popupWidth) {
					calculatePopupWidth = popupWidth;
				}
				for (var i = 0; i <= popupWidth; i += reductionAmount) {
					var my_return = optimizeAlignment(rightSpacing, leftSpacing, popupWidth - i, iconWidth, winWidth);
					if (my_return) {
						$(context).width(calculatePopupWidth - i);
						return my_return;
					}
				}
			}
		},
		trigger: "hover",
		html: true
	};
	$('.rc_popover__button').popover(options);
</script>
{% endblock %}