{% extends 'base.html' %}
{% set page_class = "tooltips" %}
{% block body %}
<h1>Tooltips</h1>
<p>Tooltips and popovers have been merged and utilize the "sticky" hover, where hovering on the box maintains its visibility.</p>

<h2>Auto placement</h2>
<p>Tooltips will automatically change their position depending on allowable realestate. If the box is too large, a new size and possible location will be recalculated.</p>
<div class="rc_example">
	<button class="rc_tooltip__button" title="Need help finding keys?" data-content="<a href='#'>Go to setup instructions...</a>"></button>
	<button class="rc_tooltip__button" data-content="<a href='#'>Go to setup instructions...</a>"></button>
	<button class="rc_tooltip__button" data-content="Donec ullamcorper nulla non metus"></button>
	<button class="rc_tooltip__button" title="Popover title" data-content="Morbi leo risus, porta ac consectetur ac, vestibulum at eros."></button>
	<button class="rc_tooltip__button" title="This is a tool tip header" data-content="<p>This is body copy for a tool tip. It can be up to 3 sentences.  More than that and no one will read it.</p><p><a href='#'>This is a tool tip link...</a></p>"></button>
</div>
{% endblock %}