<div class="rc_header-dropdown">
	<div class="rc_header-dropdown__title">
		{% if parameters['dropdown'] %}
			{% with parameters = parameters['dropdown'] %}
				{{ ui_element("dynamic/dropdown", parameters) | safe }}
			{% endwith %}
		{% endif %}
	</div>
	{% if parameters['description'] %}
		<div class="rc_header-dropdown__description">
			<p>{{ parameters['description'] }}</p>
		</div>
	{% endif %}
	{% if parameters['buttons'] %}
		<div class="rc_header-dropdown__actions">
			{% for button in parameters['buttons'] %}
				{% with parameters = button %}
					{{ ui_element("buttons/button", parameters) | safe }}
				{% endwith %}
			{% endfor %}
		</div>
	{% endif %}
</div><!-- .header-dropdown -->