<div class="rc_dropdown">
	<button class="rc_h3 button button--link rc_dropdown__toggle" id="dropdownMenuButton" data-toggle="dropdown">
		Recurring Charge Confirmation
	</button>
	<div class="rc_dropdown__menu rc_dropdown__menu--right">
		<a class="rc_item" href="#">Link 1</a>
		<a class="rc_item" href="#">Link 2</a>
		<a class="rc_item" href="#">Link 3</a>
		<div class="rc_dropdown__divider"></div>
		<a class="rc_item" href="#">Another action</a>
		<a class="rc_item" href="#">Something else here</a>
	</div>
</div>