/* Variables */
.rc_container {
  margin: 20px 0;
  margin: 20px;
}

.rc_example {
  border: 1px solid #CCC;
  box-shadow: 4px 4px 0 0px #DDD;
  padding: 20px 0;
  padding: 20px;
}

.rc_example > hr {
  border-color: #CCC;
  border-width: 1px;
  border-style: solid;
  border-bottom: 0;
  margin: 20px 0;
  margin: 20px -20px;
}

.rc_example + .rc_example {
  margin-top: 25px;
}

.rc_container > h1,
.rc_container > h2,
.rc_container > h3,
.rc_container > h4 {
  margin-bottom: 10px;
  font-family: 'ralewaysemibold';
}

.rc_container > h1 {
  font-size: 40px;
  font-family: 'ralewaybold';
}

.rc_container > h2 {
  margin-top: 40px;
  font-size: 25px;
  font-family: 'ralewaysemibold';
}

.rc_container > h3 {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'ralewaymedium';
}

.rc_container > h4 {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'ralewaymedium';
}

.rc_container > p {
  margin: 5px 0 10px;
}

.rc_container > p > code {
  background-color: #F6F6F6;
  border-radius: 4px;
  border: 1px solid #DDD;
  font-size: 80%;
  letter-spacing: .05em;
  padding-left: 4px;
  padding-right: 4px;
  color: #333;
}

.force-mobile .rc_header-settings__title {
  order: 1;
  width: 100%;
}

.force-mobile .rc_header-settings__description {
  order: 2;
}

.force-mobile .rc_header-settings__actions {
  order: 3;
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 19px;
}

.force-mobile .rc_header-settings__actions .button {
  width: 100%;
}

.rc_example .navbar {
  margin-left: -20px;
  margin-right: -20px;
}

.rc_example .breadcrumbs + .breadcrumbs {
  margin-top: 20px;
}

.page__tooltips .rc_example {
  position: relative;
  min-height: 147px;
}

.page__banners .rc_example {
  position: relative;
  min-height: 200px;
}

.rc_example .rc_progress {
  margin-left: -20px;
  margin-right: -20px;
}

.rc_example .rc_progress + .rc_progress {
  margin-top: 25px;
}

.rc_example .rc_continue {
  margin-left: -20px;
  margin-right: -20px;
}

.rc_example .rc_continue + .rc_continue {
  margin-top: 25px;
}

.rc_example .navbar + .navbar {
  margin-top: 25px;
}

.rc_example .rc_tabs {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.rc_example .swatch {
  display: block;
  padding: 0 1em;
  box-sizing: border-box;
  max-width: 150px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  border-radius: 0;
  border: 5px solid #FFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 25px solid #FFF;
  padding-bottom: 0;
  box-sizing: content-box;
  height: 150px;
  line-height: 150px;
  width: 150px;
}

.rc_example .swatch.rc_background--black, .rc_example .swatch.rc_background--gray-dark, .rc_example .swatch.rc_background--gray-darker {
  color: #CCC;
}

@media screen and (max-width: 575px) {
  .rc_example .swatch {
    height: 110px;
    line-height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: 25px;
    float: none;
  }
}

.rc_example .swatch .hexcode {
  float: right;
  position: absolute;
  top: 100%;
  z-index: 30;
  width: 100%;
  text-align: center;
  float: none;
  left: 0;
  color: #000;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 3px;
}

@media screen and (min-width: 576px) {
  .rc_layout--visible[rc_layout-order="reverse"] div[class^="rc_layout__"] + div[class^="rc_layout__"] {
    border-right: 1px solid #fff;
    border-left: 0;
  }
  .rc_layout--visible[rc_layout-order="reverse"] div[class^="rc_layout__"] + div[class^="rc_layout__"]:last-child {
    border-left: 0 !important;
  }
}

.rc_layout--visible .rc_layout {
  background-color: #6bddc3;
}

.rc_layout--visible .rc_layout div[class^="rc_layout__"] {
  border-bottom: 1px solid #FFF;
}

.rc_layout--visible .rc_layout div[class^="rc_layout__"] div[class^="rc_layout__"] {
  border-bottom: 0px solid #FFF;
}

.rc_layout--visible .rc_layout div {
  overflow: hidden;
}

.rc_layout--visible .rc_layout > .rc_layout__full p,
.rc_layout--visible .rc_layout > .rc_layout__sidebar p,
.rc_layout--visible .rc_layout > .rc_layout__content p,
.rc_layout--visible .rc_layout > div[class^="rc_layout__xs"] p,
.rc_layout--visible .rc_layout > div[class^="rc_layout__sm"] p,
.rc_layout--visible .rc_layout > div[class^="rc_layout__md"] p,
.rc_layout--visible .rc_layout > div[class^="rc_layout__lg"] p,
.rc_layout--visible .rc_layout > div[class^="rc_layout__xl"] p {
  text-align: center;
  background-color: #bef0e5;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rc_layout--visible .rc_layout .rc_layout {
  border-bottom: none !important;
}

code.html.hljs.xml {
  background-color: #f5f5f5;
  margin-bottom: 50px;
  position: relative;
  top: 4px;
  left: 4px;
}

span.hljs-name,
span.hljs-tag {
  color: #2f6f9f;
  color: #009BC4;
}

span.hljs-attr {
  color: #4f9fcf;
  color: #20AD8F;
}

span.hljs-string {
  color: #d44950;
  color: #C2009A;
}

code.html.hljs.xml {
  color: #212529;
  color: #424242;
}

span.hljs-comment {
  color: #8E8F8E;
}
